# Load packages

In [118]:
# 'private_twitter_credentials' contains my Twitter credentials. Replace by 'twitter_credentials' with your credentials
import private_twitter_credentials
import twitter
import datetime
import pandas as pd
import time

TodaysDate = time.strftime("%Y-%m-%d-%H-%M")

# Seeting up twitter authentication

In [119]:
consumer_key = private_twitter_credentials.consumer_key
consumer_secret = private_twitter_credentials.consumer_secret
access_token = private_twitter_credentials.access_token
access_token_secret = private_twitter_credentials.access_token_secret

api = twitter.Api(
    consumer_key         =   consumer_key,
    consumer_secret      =   consumer_secret,
    access_token_key     =   access_token,
    access_token_secret  =   access_token_secret,
    tweet_mode = 'extended'
)

# Functions

Class `TweetMiner` class contains two methods: 

* `mine_user_tweets` which mine user's tweets making use of [Get user_timeline](https://developer.twitter.com/en/docs/tweets/timelines/api-reference/get-statuses-user_timeline)

* `search_tweets` which mine tweets using [GetSearch](https://developer.twitter.com/en/docs/tweets/search/api-reference/get-search-tweets)

`search_tweets` gives you possibility to perform queries. You can for instances perform a search at Twitter and copy what comes after `q` in your browser.

For example, if I search `@picnic @JumboSupermarkt @albertheijn covid-19` the query used as argument in `search_tweets` is `q=%40picnic%20%40JumboSupermarkt%20%40albertheijn%20covid-19&src=typed_query`.

In [22]:
import datetime

class TweetMiner(object):
    """ Make possible obtaining tweets using twitter user id (mine_user_tweets) or performing a standard Twitter 
    API search"""

    
    def __init__(self, api, result_limit = 20, max_pages = 40):
        """result_limit = count that can take max 200 (mine_user_tweets) and max 100 (search_tweets)"""
        
        self.api = api        
        self.result_limit = result_limit
        self.max_pages = max_pages
        

    def mine_user_tweets(self, user, mine_retweets=False):
        """ Mine tweets of user = screen_name or user_id"""

        data           =  []
        last_tweet_id  =  False
        page           =  1
        
        while page <= self.max_pages:
            
            if last_tweet_id:
                statuses   =   self.api.GetUserTimeline(screen_name=user, count=self.result_limit, max_id=last_tweet_id - 1, 
                                                        include_rts=mine_retweets)
                statuses = [ _.AsDict() for _ in statuses]
            else:
                statuses   =   self.api.GetUserTimeline(screen_name=user, count=self.result_limit, 
                                                        include_rts=mine_retweets)
                statuses = [_.AsDict() for _ in statuses]
                
            for item in statuses:
                # Using try except here.
                # When retweets = 0 we get an error (GetUserTimeline fails to create a key, 'retweet_count')
                try:
                    mined = {
                        'mined_at':         datetime.datetime.now(),
                        'created_at':       item['created_at'],
                        'tweet_id':         item['id'],
                        'tweet_id_str':     item['id_str'],
                        'screen_name':      item['user']['screen_name'],
                        'favorite_count':   item['favorite_count'],
                        'text':             item['full_text'],
                        'source':           item['source'],
                        'language':         item['lang'],
                        'retweet_count':    item['retweet_count'],
                        #user info
                        'user_favourites_count': item['user']['favourites_count'],
                        'followers_count':  item['user']['followers_count'],
                        'friends_count':    item['user']['friends_count']
                    }
            
                
                except:
                    mined = {
                        'mined_at':         datetime.datetime.now(),
                        'created_at':       item['created_at'],
                        'tweet_id':         item['id'],
                        'tweet_id_str':     item['id_str'],
                        'screen_name':      item['user']['screen_name'],
#                         'favorite_count':   item['favorite_count'],
                        'text':             item['full_text'],
                        'source':           item['source'],
                        'language':         item['lang'],
                        'retweet_count':    0,
                        # user info
                        'user_favourites_count': item['user']['favourites_count'],
                        'followers_count':  item['user']['followers_count'],
                        'friends_count':    item['user']['friends_count']
                        }
                
                last_tweet_id = item['id']
                data.append(mined)
                
            page += 1
            
        return data
    
    def search_tweets(max_pages = 20, count = 20, raw_query = None, result_type = 'mixed'):
        """ Search tweets """

        data           =  []
        last_tweet_id  =  False
        page           =  1
        
        while page <= max_pages:
            
            if last_tweet_id:
                statuses = api.GetSearch(raw_query=raw_query, count = count, result_type=result_type, 
                                         max_id=last_tweet_id - 1)
                statuses = [ _.AsDict() for _ in statuses]
            else:
                statuses = api.GetSearch(raw_query=raw_query, count = count, result_type=result_type)
                statuses = [_.AsDict() for _ in statuses]
                
            for item in statuses:
                # Using try except here.
                # When retweets = 0 we get an error (GetUserTimeline fails to create a key, 'retweet_count')
                try:
                    mined = {
                        'mined_at':                datetime.datetime.now(),
                        'created_at':              item['created_at'],
                        'tweet_id':                item['id'],
                        'tweet_id_str':            item['id_str'],
                        'in_reply_to_screen_name': item['in_reply_to_screen_name'],
                        'in_reply_to_status_id':   item['in_reply_to_status_id'],
                        'in_reply_to_user_id':     item['in_reply_to_user_id'],
                        'language':                item['lang'],
                        'text':                    item['full_text'],
                        'hashtags':                item['hashtags'],
                        'source':                  item['source'],
                       # info about user
                        'screen_name':             item['user']['screen_name'],
                        'user_tweet_id':           item['user']['id'],
                        'user_tweet_id_str':       item['user']['id_str'],
                        'user_favourites_count':   item['user']['favourites_count'],
                        'followers_count':         item['user']['followers_count'],
                        'friends_count':           item['user']['friends_count']
                    }
                    
                except:
                    mined = {
                        'mined_at':                datetime.datetime.now(),
                        'created_at':              item['created_at'],
                        'tweet_id':                item['id'],
                        'tweet_id_str':            item['id_str'],
#                         'in_reply_to_screen_name': item['in_reply_to_screen_name'],
#                         'in_reply_to_status_id':   item['in_reply_to_status_id'],
#                         'in_reply_to_user_id':     item['in_reply_to_user_id'],
                        'language':                item['lang'],
                        'text':                    item['full_text'],
                        'hashtags':                item['hashtags'],
                        'source':                  item['source'],
                       # info about user
                        'screen_name':             item['user']['screen_name'],
                        'user_tweet_id':           item['user']['id'],
                        'user_tweet_id_str':       item['user']['id_str'],
                        'user_favourites_count':   item['user']['favourites_count'],
                        'followers_count':         item['user']['followers_count'],
                        'friends_count':           item['user']['friends_count']
                    }
                                            
                
                last_tweet_id = item['id']
                data.append(mined)
                
            page += 1
            
        return data

In [198]:
def processing_and_saving(df, file_name, mine_user_twitter=1):
    """ Save retrieved tweets in csv file.
    
    Input:
    
    df : dataframe of tweets'data
    file_name: name with which the csv will be saved (without extension)
    mine_user_twitter: Indicates if df came contains tweets from a twitter user, i.e., was obtained using 
    GetUserTimeline since the information obtained from this method is different from an API search from GetSearch
    
    """
    
    TodaysDate = time.strftime("%Y-%m-%d-%H-%M")

    
    # Create columns 'year', 'month', 'day', 'hour', 'min' from 'created_at'
    df['created_at'] = pd.to_datetime(df['created_at'])
        
    df['year'] = df['created_at'].dt.year 
    df['month'] = df['created_at'].dt.month 
    df['day'] = df['created_at'].dt.day 
    df['hour'] = df['created_at'].dt.hour 
    df['minute'] = df['created_at'].dt.minute
    df['day_of_week'] = df['created_at'].dt.weekday
    
    if mine_user_twitter:
    
        df = df[['mined_at', 'created_at', 'year', 'month', 'day','day_of_week', 
             'hour', 'minute', 'screen_name', 'tweet_id', 'tweet_id_str',  'retweet_count', 'favorite_count', 'source', 'language', 'user_favourites_count', 
             'followers_count','friends_count','text']]
    else:
        df = df[['mined_at','created_at', 'year', 'month', 'day','day_of_week', 
                 'hour', 'minute', 'tweet_id', 'tweet_id_str', 'in_reply_to_screen_name','in_reply_to_status_id',
                 'in_reply_to_user_id', 'hashtags','source','language', 'screen_name','user_tweet_id','user_tweet_id_str','user_favourites_count','followers_count',
                 'friends_count', 'text']]
        
    df.sort_values(by='created_at',inplace = True)
    df = df.loc[df.astype(str).drop_duplicates(subset=['created_at','tweet_id','text']).index]
#     df.drop_duplicates(inplace = True)
    df.reset_index(drop = True, inplace = True)
    
    
    df.to_csv("../data/tweets/"+file_name+"_"+TodaysDate+".csv", index = False)
    
    return df

# Retrieving twitter data

The goal of this project is to check the sentiment of users towards the main providers of online grocery shopping, i.e., Jumbo Supermarkten, AH, and Picnic.

Everything changed since the first case of corona virus in The Netherlands (February 27th) and the way of shopping groceries suffered important change with a jump in number of users that opted for online grocery shopping. Supermarkts were not ready for such a explosion of demand, some adapted faster than others. Specially, `Picnic` that has the sole focus on online shopping.

I have my own experiences but I want to via tweets messages over these 3 providers of online grocery shopping get the sentiment of the users in this 'special' moments faced by both consumers and providers.

The idea is to get twitters covering the period from the 1st case until today both for info retrieved by user (`GetUserTimeline`) and by query (`GetSearch`).

Although, it is not possible to have control over the period covered by the search, we will play with parameters and go as far as possible.

## Getting twitter by user

To start we will obtain tweets for `picnic`, `JumboSupermarkt`, and `albertheijn` which are the tweet screen name of the 3 providers of online grocery shopping.

### Picnic

In [23]:
# Result limit == count parameter from our GetUserTimeline() it can take max 200
# More pages more back in time you can go
miner = TweetMiner(api, result_limit=20, max_pages = 100)
picnic = miner.mine_user_tweets(user="picnic")
df_picnic = processing_and_saving(pd.DataFrame(picnic), "picnic")

In [38]:
df_picnic.tail()

,mined_at,screen_name,tweet_id,tweet_id_str,created_at,year,month,day,day_of_week,hour,minute,retweet_count,favorite_count,source,language,user_favourites_count,followers_count,friends_count,text
1990,2020-06-21 00:29:23.693529,picnic,1273662862096060417,1273662862096060417,2020-06-18 17:04:24+00:00,2020,6,18,3,17,4,0,NaN,"<a href=""http://www.zendesk.com"" rel=""nofollow...",nl,3881,4844,5,"@rolandweyers Ah, dat is inderdaad een dode mu..."
1991,2020-06-21 00:29:23.693529,picnic,1273918233834393602,1273918233834393602,2020-06-19 09:59:09+00:00,2020,6,19,4,9,59,0,NaN,"<a href=""https://mobile.twitter.com"" rel=""nofo...",nl,3881,4844,5,@MiriamVermeulen Wat fijn dat je al 100 plekke...
1992,2020-06-21 00:29:23.693529,picnic,1273920800064757760,1273920800064757760,2020-06-19 10:09:21+00:00,2020,6,19,4,10,9,0,NaN,"<a href=""https://mobile.twitter.com"" rel=""nofo...",nl,3881,4844,5,@MrsVlamingo De Presto maaltijden variÃ«ren af ...
1993,2020-06-21 00:29:23.693529,picnic,1274275880756482049,1274275880756482049,2020-06-20 09:40:19+00:00,2020,6,20,5,9,40,0,NaN,"<a href=""http://www.zendesk.com"" rel=""nofollow...",nl,3881,4844,5,@Mr_Widewood Goedemorgen! Goed dat je dit even...
1994,2020-06-21 00:29:23.693529,picnic,1274431035896467466,1274431035896467466,2020-06-20 19:56:51+00:00,2020,6,20,5,19,56,0,NaN,"<a href=""https://mobile.twitter.com"" rel=""nofo...",es,3881,4844,5,@dbenshachar ^Lino https://t.co/XK06YZyXVh

In [24]:
df_picnic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1995 entries, 0 to 1994
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   mined_at               1995 non-null   datetime64[ns]
 1   screen_name            1995 non-null   object
 2   tweet_id               1995 non-null   int64
 3   tweet_id_str           1995 non-null   object
 4   created_at             1995 non-null   datetime64[ns, UTC]
 5   year                   1995 non-null   int64
 6   month                  1995 non-null   int64
 7   day                    1995 non-null   int64
 8   day_of_week            1995 non-null   int64
 9   hour                   1995 non-null   int64
 10  minute                 1995 non-null   int64
 11  retweet_count          1995 non-null   int64
 12  favorite_count         28 non-null     float64
 13  source                 1995 non-null   object
 14  language               1995 non-null   object
 15  user_favourites_count  1995 non-null   int64
 16  followers_count        1995 non-null   int64
 17  friends_count          1995 non-null   int64
 18  text                   1995 non-null   object
dtypes: datetime64[ns, UTC](1), datetime64[ns](1), float64(1), int64(11), object(5)
memory usage: 296.3+ KB

In [25]:
min(df_picnic.created_at),max(df_picnic.created_at)

(Timestamp('2019-07-13 18:42:42+0000', tz='UTC'),
 Timestamp('2020-06-20 19:56:51+0000', tz='UTC'))

For `Picnic` we went far enough. We got data back to July 2019!

In [54]:
print("Picnic's followers", df_picnic.loc[df_picnic.shape[0]-1,'followers_count'])
print("Picnic's friends", df_picnic.loc[df_picnic.shape[0]-1,'friends_count'])

Picnic's followers 4844
Picnic's friends 5

In [62]:
df_picnic['language'].value_counts()

nl     1780
und     145
en       53
es        5
de        3
in        2
fr        2
it        1
ht        1
cy        1
sv        1
fi        1
Name: language, dtype: int64

### JumboSupermarkt

In [26]:
# Result limit == count parameter from our GetUserTimeline() it can take max 200
# More pages more back in time you can go
miner = TweetMiner(api, result_limit=20, max_pages = 200)
JumboSupermarkt = miner.mine_user_tweets(user="JumboSupermarkt")
df_JumboSupermarkt = processing_and_saving(pd.DataFrame(JumboSupermarkt), "JumboSupermarkt")

In [27]:
df_JumboSupermarkt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3221 entries, 0 to 3220
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   mined_at               3221 non-null   datetime64[ns]
 1   screen_name            3221 non-null   object
 2   tweet_id               3221 non-null   int64
 3   tweet_id_str           3221 non-null   object
 4   created_at             3221 non-null   datetime64[ns, UTC]
 5   year                   3221 non-null   int64
 6   month                  3221 non-null   int64
 7   day                    3221 non-null   int64
 8   day_of_week            3221 non-null   int64
 9   hour                   3221 non-null   int64
 10  minute                 3221 non-null   int64
 11  retweet_count          3221 non-null   int64
 12  favorite_count         13 non-null     float64
 13  source                 3221 non-null   object
 14  language               3221 non-null   object
 15  user_favourites_count  3221 non-null   int64
 16  followers_count        3221 non-null   int64
 17  friends_count          3221 non-null   int64
 18  text                   3221 non-null   object
dtypes: datetime64[ns, UTC](1), datetime64[ns](1), float64(1), int64(11), object(5)
memory usage: 478.2+ KB

In [28]:
min(df_JumboSupermarkt.created_at),max(df_JumboSupermarkt.created_at)

(Timestamp('2020-03-06 19:12:05+0000', tz='UTC'),
 Timestamp('2020-06-20 19:51:11+0000', tz='UTC'))

In [31]:
# Result limit == count parameter from our GetUserTimeline() it can take max 200
# More pages more back in time you can go
miner = TweetMiner(api, result_limit=25, max_pages = 250)
JumboSupermarkt = miner.mine_user_tweets(user="JumboSupermarkt")
df_JumboSupermarkt = processing_and_saving(pd.DataFrame(JumboSupermarkt), "JumboSupermarkt")

In [32]:
min(df_JumboSupermarkt.created_at),max(df_JumboSupermarkt.created_at)

(Timestamp('2020-03-06 19:12:05+0000', tz='UTC'),
 Timestamp('2020-06-20 19:51:11+0000', tz='UTC'))

Changing parameters does not seem to help here and we could only retrieve data from March 6th, 2020 until now for Jumbo.

In [53]:
print("Jumbo's followers", df_JumboSupermarkt.loc[df_JumboSupermarkt.shape[0]-1,'followers_count'])
print("Jumbo's friends", df_JumboSupermarkt.loc[df_JumboSupermarkt.shape[0]-1,'friends_count'])

Jumbo's followers 16211
Jumbo's friends 1710

In [56]:
df_JumboSupermarkt['language'].value_counts()

nl     3121
en       68
und      25
in        3
de        2
da        1
tl        1
Name: language, dtype: int64

### albertheijn

In [57]:
# Result limit == count parameter from our GetUserTimeline() it can take max 200
# More pages more back in time you can go
miner = TweetMiner(api, result_limit=20, max_pages = 200)
albertheijn = miner.mine_user_tweets(user="albertheijn")
df_albertheijn = processing_and_saving(pd.DataFrame(albertheijn), "albertheijn")

In [66]:
df_albertheijn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3204 entries, 0 to 3203
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   mined_at               3204 non-null   datetime64[ns]
 1   screen_name            3204 non-null   object
 2   tweet_id               3204 non-null   int64
 3   tweet_id_str           3204 non-null   object
 4   created_at             3204 non-null   datetime64[ns, UTC]
 5   year                   3204 non-null   int64
 6   month                  3204 non-null   int64
 7   day                    3204 non-null   int64
 8   day_of_week            3204 non-null   int64
 9   hour                   3204 non-null   int64
 10  minute                 3204 non-null   int64
 11  retweet_count          3204 non-null   int64
 12  favorite_count         24 non-null     float64
 13  source                 3204 non-null   object
 14  language               3204 non-null   object
 15  user_favourites_count  3204 non-null   int64
 16  followers_count        3204 non-null   int64
 17  friends_count          3204 non-null   int64
 18  text                   3204 non-null   object
dtypes: datetime64[ns, UTC](1), datetime64[ns](1), float64(1), int64(11), object(5)
memory usage: 475.7+ KB

In [67]:
min(df_albertheijn.created_at),max(df_albertheijn.created_at)

(Timestamp('2020-04-03 15:35:47+0000', tz='UTC'),
 Timestamp('2020-06-20 18:18:50+0000', tz='UTC'))

In [68]:
# Result limit == count parameter from our GetUserTimeline() it can take max 200
# More pages more back in time you can go
miner = TweetMiner(api, result_limit=20, max_pages = 300)
albertheijn = miner.mine_user_tweets(user="albertheijn")
df_albertheijn = processing_and_saving(pd.DataFrame(albertheijn), "albertheijn")

In [69]:
min(df_albertheijn.created_at),max(df_albertheijn.created_at)

(Timestamp('2020-04-03 15:35:47+0000', tz='UTC'),
 Timestamp('2020-06-20 18:18:50+0000', tz='UTC'))

Again the changing parameters didn't work. For `AH` we only succeeded in getting back to April 3th, 2020.

In [70]:
print("AH's followers", df_JumboSupermarkt.loc[df_albertheijn.shape[0]-1,'followers_count'])
print("AH's friends", df_JumboSupermarkt.loc[df_albertheijn.shape[0]-1,'friends_count'])

AH's followers 16211
AH's friends 1710

In [71]:
df_albertheijn['language'].value_counts()

nl     3096
en       74
und       7
et        5
fr        5
tr        4
fi        3
in        2
da        2
pl        1
de        1
is        1
ht        1
sv        1
es        1
Name: language, dtype: int64

## A little EDA

In [72]:
# concatenate all dataframes

df_tweet_conc = pd.concat([df_picnic,df_JumboSupermarkt, df_albertheijn])
df_tweet_conc.head()

,mined_at,screen_name,tweet_id,tweet_id_str,created_at,year,month,day,day_of_week,hour,minute,retweet_count,favorite_count,source,language,user_favourites_count,followers_count,friends_count,text
0,2020-06-21 00:29:45.875729,picnic,1150113338153742337,1150113338153742337,2019-07-13 18:42:42+00:00,2019,7,13,5,18,42,0,NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",nl,3881,4844,5,"@mgrhendriks1984 Hier, Martijn! https://t.co/J..."
1,2020-06-21 00:29:45.875729,picnic,1150125973951700992,1150125973951700992,2019-07-13 19:32:55+00:00,2019,7,13,5,19,32,0,NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",en,3881,4844,5,@xarinatan Nice to hear this Alex! We are glad...
2,2020-06-21 00:29:45.875729,picnic,1150341671000956928,1150341671000956928,2019-07-14 09:50:01+00:00,2019,7,14,6,9,50,0,NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",nl,3881,4844,5,@remkohartman Wat een gezelligheid zeg!ðŸ¥° Hopel...
3,2020-06-21 00:29:45.875729,picnic,1150346698012725248,1150346698012725248,2019-07-14 10:09:59+00:00,2019,7,14,6,10,9,0,NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",und,3881,4844,5,@remkohartman https://t.co/2gqMsJJAHu
4,2020-06-21 00:29:45.875729,picnic,1150452684107014144,1150452684107014144,2019-07-14 17:11:08+00:00,2019,7,14,6,17,11,0,NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",nl,3881,4844,5,"@joost_akker Ah, dat is inderdaad wat vervelen..."

In [74]:
df_tweet_conc.shape[0] == df_picnic.shape[0]+df_JumboSupermarkt.shape[0]+df_albertheijn.shape[0]

True

### Number of followers and friends

### Languages of messages

# Applying GetSearch to search for a defined query


Twitterâ€™s search parameters are a bit complex, to perform a particular search, you can consult Twitterâ€™s documentation at https://dev.twitter.com/rest/public/search.

An easier way is to make use of [Twitterâ€™s Advanced Search](toolhttps://twitter.com/search-advanced), and then use the part of search URL after the "?" to use `raw_query`, removing the `&src=typd` portion.

In this section we will perform some queries to allow us to compare `Picnic`, `Jumbo`, and `AH`. In particular, my main goal is to include also `COVID-19`. But since we are in June and things seem to be now much more in control than few months ago I'm not sure if I'll be able to retrieve enough Tweets using these key words.

In addition, the results obtained from Twitter API searches against a sampling of recent Tweets published in the past 7 days (more details [here](https://developer.twitter.com/en/docs/tweets/search/overview/standard). So the results you see in the website when using `Twitterâ€™s Advanced Search` will not per se be in the result of the API search.

## Query_01:

`All these words`: picnic, jumbo, ah, covid

`Dates:`

    From: February - 25 -2020
    To:   June - 21 -2020

**Result:** `https://twitter.com/search?q=picnic%2C%20jumbo%2C%20ah%2C%20covid%20until%3A2020-06-21%20since%3A2020-02-25&src=typed_query`

In [186]:
query_01 = 'q=picnic%2C%20jumbo%2C%20ah%2C%20covid%20until%3A2020-06-21%20since%3A2020-02-25'
result = TweetMiner.search_tweets(raw_query = raw_query)
len(result)

0

Expected, since the 2 Tweets there are from March and therefore will not be catch by the API.

## Query_02:

So let's make a query without `covid`.

`All these words`: picnic, jumbo, ah

**Result:** `https://twitter.com/search?q=picnic%2C%20jumbo%2C%20ah&src=typed_query`

In [187]:
query_02 = 'q=picnic%2C%20jumbo%2C%20ah'
result_02 = TweetMiner.search_tweets(max_pages = 20, count = 100, raw_query = query_02)
len(result_02)

80

In [188]:
result_02[0]

{'mined_at': datetime.datetime(2020, 6, 21, 12, 42, 20, 273184),
 'created_at': 'Thu Jun 18 15:03:16 +0000 2020',
 'tweet_id': 1273632376950849537,
 'tweet_id_str': '1273632376950849537',
 'language': 'nl',
 'text': 'Half juni en nog steeds worden boodschappen bezorgd bij meerdere huizen in de straat door AH, Jumbo, Picnic. Benieuwd: is dat blijvend of gaan mensen toch weer zelf naar de winkel over een tijdje? Onze boodschappen werden al langer bezorgd, wegens geen biowinkel hier @Korenmaat',
 'hashtags': [],
 'source': '<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>',
 'screen_name': 'martiendas',
 'user_tweet_id': 111582731,
 'user_tweet_id_str': '111582731',
 'user_favourites_count': 10982,
 'followers_count': 4648,
 'friends_count': 5115}

In [199]:
df_query_02 = processing_and_saving(pd.DataFrame(result_02),"query_02",mine_user_twitter=0)
df_query_02.head()

,mined_at,created_at,year,month,day,day_of_week,hour,minute,tweet_id,tweet_id_str,...,hashtags,source,language,screen_name,user_tweet_id,user_tweet_id_str,user_favourites_count,followers_count,friends_count,text
0,2020-06-21 12:42:21.954030,2020-06-18 11:50:31+00:00,2020,6,18,3,11,50,1273583869753724930,1273583869753724930,...,[],"<a href=""https://mobile.twitter.com"" rel=""nofo...",nl,GHengeveld,20709019,20709019,889,1484,1750,@jelleprins @picnic @JumboSupermarkt @alberthe...
1,2020-06-21 12:42:23.865884,2020-06-18 11:56:42+00:00,2020,6,18,3,11,56,1273585426268409859,1273585426268409859,...,[],"<a href=""http://twitter.com/download/iphone"" r...",nl,jelleprins,16546619,16546619,4416,10513,1063,@Oli4K @picnic @JumboSupermarkt @albertheijn L...
2,2020-06-21 12:42:22.713351,2020-06-18 14:00:01+00:00,2020,6,18,3,14,0,1273616458459705347,1273616458459705347,...,[],"<a href=""https://about.twitter.com/products/tw...",nl,agfnl,164631799,164631799,84,8530,2128,"""Trendbreuk: Jumbo al 3 weken duurder in AGF d..."
3,2020-06-21 12:42:23.476660,2020-06-18 15:03:16+00:00,2020,6,18,3,15,3,1273632376950849537,1273632376950849537,...,[],"<a href=""http://twitter.com/download/android"" ...",nl,martiendas,111582731,111582731,10982,4648,5115,Half juni en nog steeds worden boodschappen be...

In [209]:
df_query_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   mined_at                 4 non-null      datetime64[ns]
 1   created_at               4 non-null      datetime64[ns, UTC]
 2   year                     4 non-null      int64
 3   month                    4 non-null      int64
 4   day                      4 non-null      int64
 5   day_of_week              4 non-null      int64
 6   hour                     4 non-null      int64
 7   minute                   4 non-null      int64
 8   tweet_id                 4 non-null      int64
 9   tweet_id_str             4 non-null      object
 10  in_reply_to_screen_name  2 non-null      object
 11  in_reply_to_status_id    2 non-null      float64
 12  in_reply_to_user_id      2 non-null      float64
 13  hashtags                 4 non-null      object
 14  source                   4 non-null      object
 15  language                 4 non-null      object
 16  screen_name              4 non-null      object
 17  user_tweet_id            4 non-null      int64
 18  user_tweet_id_str        4 non-null      object
 19  user_favourites_count    4 non-null      int64
 20  followers_count          4 non-null      int64
 21  friends_count            4 non-null      int64
 22  text                     4 non-null      object
dtypes: datetime64[ns, UTC](1), datetime64[ns](1), float64(2), int64(11), object(8)
memory usage: 864.0+ bytes

## Query_03:

Adding `albertheijn` because sometimes there are expressions like `ahhhhh` and this is not what we are looking for.

`All these words`: picnic, jumbo, ah, albertheijn

**Result:** `https://twitter.com/search?q=picnic%2C%20jumbo%2C%20ah%2C%20albertheijn&src=typed_query`

In [210]:
query_03 = 'q=picnic%2C%20jumbo%2C%20ah%2C%20albertheijn'
result_03 = TweetMiner.search_tweets(max_pages = 20, raw_query = query_03)
len(result_03)

40

In [211]:
result_03[0]

{'mined_at': datetime.datetime(2020, 6, 21, 12, 59, 0, 940977),
 'created_at': 'Thu Jun 18 11:56:42 +0000 2020',
 'tweet_id': 1273585426268409859,
 'tweet_id_str': '1273585426268409859',
 'in_reply_to_screen_name': 'Oli4K',
 'in_reply_to_status_id': 1273584231336288257,
 'in_reply_to_user_id': 6091182,
 'language': 'nl',
 'text': '@Oli4K @picnic @JumboSupermarkt @albertheijn Lijkt er op dat Jumbo &amp; AH erg naar website &amp; elkaar hebben gekeken, terwijl Picnic echt mobile first &amp; vanuit niks is gestart.',
 'hashtags': [],
 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
 'screen_name': 'jelleprins',
 'user_tweet_id': 16546619,
 'user_tweet_id_str': '16546619',
 'user_favourites_count': 4416,
 'followers_count': 10513,
 'friends_count': 1063}

In [212]:
df_query_03 = processing_and_saving(pd.DataFrame(result_03),"query_03",mine_user_twitter=0)
df_query_03.head()

,mined_at,created_at,year,month,day,day_of_week,hour,minute,tweet_id,tweet_id_str,...,hashtags,source,language,screen_name,user_tweet_id,user_tweet_id_str,user_favourites_count,followers_count,friends_count,text
0,2020-06-21 12:59:02.582580,2020-06-18 11:50:31+00:00,2020,6,18,3,11,50,1273583869753724930,1273583869753724930,...,[],"<a href=""https://mobile.twitter.com"" rel=""nofo...",nl,GHengeveld,20709019,20709019,889,1484,1750,@jelleprins @picnic @JumboSupermarkt @alberthe...
1,2020-06-21 12:59:02.228176,2020-06-18 11:56:42+00:00,2020,6,18,3,11,56,1273585426268409859,1273585426268409859,...,[],"<a href=""http://twitter.com/download/iphone"" r...",nl,jelleprins,16546619,16546619,4416,10513,1063,@Oli4K @picnic @JumboSupermarkt @albertheijn L...

In [213]:
df_query_03.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   mined_at                 2 non-null      datetime64[ns]
 1   created_at               2 non-null      datetime64[ns, UTC]
 2   year                     2 non-null      int64
 3   month                    2 non-null      int64
 4   day                      2 non-null      int64
 5   day_of_week              2 non-null      int64
 6   hour                     2 non-null      int64
 7   minute                   2 non-null      int64
 8   tweet_id                 2 non-null      int64
 9   tweet_id_str             2 non-null      object
 10  in_reply_to_screen_name  2 non-null      object
 11  in_reply_to_status_id    2 non-null      int64
 12  in_reply_to_user_id      2 non-null      int64
 13  hashtags                 2 non-null      object
 14  source                   2 non-null      object
 15  language                 2 non-null      object
 16  screen_name              2 non-null      object
 17  user_tweet_id            2 non-null      int64
 18  user_tweet_id_str        2 non-null      object
 19  user_favourites_count    2 non-null      int64
 20  followers_count          2 non-null      int64
 21  friends_count            2 non-null      int64
 22  text                     2 non-null      object
dtypes: datetime64[ns, UTC](1), datetime64[ns](1), int64(13), object(8)
memory usage: 496.0+ bytes

## Query_04:

`All these words`: picnic covid

**Result:** `https://twitter.com/search?q=picnic%20covid&src=typed_query`

In [214]:
query_04 = 'q=picnic%20covid'
result_04 = TweetMiner.search_tweets(max_pages = 20, raw_query = query_04)
len(result_04)

300

In [215]:
result_04[0]

{'mined_at': datetime.datetime(2020, 6, 21, 13, 2, 44, 534285),
 'created_at': 'Sun Jun 21 11:01:26 +0000 2020',
 'tweet_id': 1274658683126001664,
 'tweet_id_str': '1274658683126001664',
 'language': 'en',
 'text': "RT @zasteo: #FactFriday I have been amazed at the response of the #financialservices #innovation #community to the #COVID-19 crisis. It's aâ€¦",
 'hashtags': [{'text': 'FactFriday'},
  {'text': 'financialservices'},
  {'text': 'innovation'},
  {'text': 'community'},
  {'text': 'COVID'}],
 'source': '<a href="https://mobile.twitter.com" rel="nofollow">Twitter Web App</a>',
 'screen_name': 'Picnic_Techno',
 'user_tweet_id': 1263755578351943680,
 'user_tweet_id_str': '1263755578351943680',
 'user_favourites_count': 19,
 'followers_count': 2,
 'friends_count': 3}

In [216]:
df_query_04 = processing_and_saving(pd.DataFrame(result_04),"query_04",mine_user_twitter=0)
df_query_04.head()

,mined_at,created_at,year,month,day,day_of_week,hour,minute,tweet_id,tweet_id_str,...,hashtags,source,language,screen_name,user_tweet_id,user_tweet_id_str,user_favourites_count,followers_count,friends_count,text
0,2020-06-21 13:02:46.884312,2020-06-21 00:37:25+00:00,2020,6,21,6,0,37,1274501643044884480,1274501643044884480,...,[],"<a href=""http://www.socastdigital.com"" rel=""no...",en,SeehaferNews,966851822873993218,966851822873993218,110,173,93,The Kiel Community Picnic Committee has decide...
1,2020-06-21 13:02:49.298622,2020-06-21 00:37:25+00:00,2020,6,21,6,0,37,1274501644005277697,1274501644005277697,...,[],"<a href=""http://www.socastdigital.com"" rel=""no...",en,womtam,58450687,58450687,154,416,98,The Kiel Community Picnic Committee has decide...
2,2020-06-21 13:02:45.561162,2020-06-21 00:48:44+00:00,2020,6,21,6,0,48,1274504489744117762,1274504489744117762,...,[],"<a href=""http://twitter.com/download/iphone"" r...",en,PalamaJeni,1038501773043015681,1038501773043015681,1088,119,131,RT @TrishaFisher681: If Covid cancels Newton P...
3,2020-06-21 13:02:44.795555,2020-06-21 01:01:56+00:00,2020,6,21,6,1,1,1274507812341760000,1274507812341760000,...,[],"<a href=""http://twitter.com/download/android"" ...",en,5455km629,3627509358,3627509358,86318,5643,6105,RT @diannemando: @AngelinaWTSP @HealthyFla @10...
4,2020-06-21 13:02:47.145503,2020-06-21 01:27:28+00:00,2020,6,21,6,1,27,1274514237453479936,1274514237453479936,...,[],"<a href=""http://twitter.com/download/iphone"" r...",en,Flores88Rico,1632048997,1632048997,11336,461,696,RT @TrishaFisher681: If Covid cancels Newton P...

In [217]:
df_query_04.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   mined_at                 15 non-null     datetime64[ns]
 1   created_at               15 non-null     datetime64[ns, UTC]
 2   year                     15 non-null     int64
 3   month                    15 non-null     int64
 4   day                      15 non-null     int64
 5   day_of_week              15 non-null     int64
 6   hour                     15 non-null     int64
 7   minute                   15 non-null     int64
 8   tweet_id                 15 non-null     int64
 9   tweet_id_str             15 non-null     object
 10  in_reply_to_screen_name  2 non-null      object
 11  in_reply_to_status_id    2 non-null      float64
 12  in_reply_to_user_id      2 non-null      float64
 13  hashtags                 15 non-null     object
 14  source                   15 non-null     object
 15  language                 15 non-null     object
 16  screen_name              15 non-null     object
 17  user_tweet_id            15 non-null     int64
 18  user_tweet_id_str        15 non-null     object
 19  user_favourites_count    15 non-null     int64
 20  followers_count          15 non-null     int64
 21  friends_count            15 non-null     int64
 22  text                     15 non-null     object
dtypes: datetime64[ns, UTC](1), datetime64[ns](1), float64(2), int64(11), object(8)
memory usage: 2.8+ KB

## Query_05:

`All these words`: JumboSupermarkt covid

**Result:** `https://twitter.com/search?q=JumboSupermarkt%20covid&src=typed_query`

In [218]:
query_05 = 'q=JumboSupermarkt%20covid'
result_05 = TweetMiner.search_tweets(max_pages = 20, raw_query = query_05)
len(result_05)

40

In [219]:
result_05[0]

{'mined_at': datetime.datetime(2020, 6, 21, 13, 4, 54, 777032),
 'created_at': 'Sun Jun 21 09:33:32 +0000 2020',
 'tweet_id': 1274636561704005632,
 'tweet_id_str': '1274636561704005632',
 'in_reply_to_screen_name': 'deAZfan',
 'in_reply_to_status_id': 1274396337396690944,
 'in_reply_to_user_id': 23193959,
 'language': 'nl',
 'text': "@deAZfan De 'Vierde wachtende' regel geldt tijdelijk niet i.v.m. de situatie rondom Covid-19. We blijven uiteraard wel ons uiterste best doen alle klanten zo vlot mogelijk te helpen. ðŸ™‚ ^LL",
 'hashtags': [],
 'source': '<a href="https://mobile.twitter.com" rel="nofollow">Twitter Web App</a>',
 'screen_name': 'JumboSupermarkt',
 'user_tweet_id': 2797822974,
 'user_tweet_id_str': '2797822974',
 'user_favourites_count': 3764,
 'followers_count': 16212,
 'friends_count': 1710}

In [220]:
df_query_05 = processing_and_saving(pd.DataFrame(result_05),"query_05",mine_user_twitter=0)
df_query_05.head()

,mined_at,created_at,year,month,day,day_of_week,hour,minute,tweet_id,tweet_id_str,...,hashtags,source,language,screen_name,user_tweet_id,user_tweet_id_str,user_favourites_count,followers_count,friends_count,text
0,2020-06-21 13:04:56.400601,2020-06-20 17:25:49+00:00,2020,6,20,5,17,25,1274393028183162881,1274393028183162881,...,"[{'text': 'Utrecht'}, {'text': 'merelstraat'},...","<a href=""http://twitter.com/download/android"" ...",nl,milieuzone,3567511941,3567511941,857,171,75,Complimenten aan @JumboSupermarkt #Utrecht #me...
1,2020-06-21 13:04:56.025613,2020-06-21 09:33:32+00:00,2020,6,21,6,9,33,1274636561704005632,1274636561704005632,...,[],"<a href=""https://mobile.twitter.com"" rel=""nofo...",nl,JumboSupermarkt,2797822974,2797822974,3764,16212,1710,@deAZfan De 'Vierde wachtende' regel geldt tij...

In [221]:
df_query_05.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   mined_at                 2 non-null      datetime64[ns]
 1   created_at               2 non-null      datetime64[ns, UTC]
 2   year                     2 non-null      int64
 3   month                    2 non-null      int64
 4   day                      2 non-null      int64
 5   day_of_week              2 non-null      int64
 6   hour                     2 non-null      int64
 7   minute                   2 non-null      int64
 8   tweet_id                 2 non-null      int64
 9   tweet_id_str             2 non-null      object
 10  in_reply_to_screen_name  1 non-null      object
 11  in_reply_to_status_id    1 non-null      float64
 12  in_reply_to_user_id      1 non-null      float64
 13  hashtags                 2 non-null      object
 14  source                   2 non-null      object
 15  language                 2 non-null      object
 16  screen_name              2 non-null      object
 17  user_tweet_id            2 non-null      int64
 18  user_tweet_id_str        2 non-null      object
 19  user_favourites_count    2 non-null      int64
 20  followers_count          2 non-null      int64
 21  friends_count            2 non-null      int64
 22  text                     2 non-null      object
dtypes: datetime64[ns, UTC](1), datetime64[ns](1), float64(2), int64(11), object(8)
memory usage: 496.0+ bytes

## Query_06:

`All these words`: albertheijn covid ah

**Result:** `https://twitter.com/search?q=albertheijn%20covid&src=typed_query`

In [224]:
query_06 = 'q=albertheijn%20covid'
result_06 = TweetMiner.search_tweets(max_pages = 20, raw_query = query_06)
len(result_06)

120

In [225]:
result_06[0]

{'mined_at': datetime.datetime(2020, 6, 21, 13, 7, 43, 348454),
 'created_at': 'Sat Jun 20 17:25:49 +0000 2020',
 'tweet_id': 1274393028183162881,
 'tweet_id_str': '1274393028183162881',
 'language': 'nl',
 'text': 'Complimenten aan @JumboSupermarkt #Utrecht #merelstraat voor de poging om alles Covid vrij te houden en te reguleren. Dit na te zijn weggegaan bij @albertheijn #oudenoord met dronken hordes en een chaotisch tafreel. @GemeenteUtrecht.',
 'hashtags': [{'text': 'Utrecht'},
  {'text': 'merelstraat'},
  {'text': 'oudenoord'}],
 'source': '<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>',
 'screen_name': 'milieuzone',
 'user_tweet_id': 3567511941,
 'user_tweet_id_str': '3567511941',
 'user_favourites_count': 857,
 'followers_count': 171,
 'friends_count': 75}

In [226]:
df_query_06 = processing_and_saving(pd.DataFrame(result_06),"query_06",mine_user_twitter=0)
df_query_06.head()

,mined_at,created_at,year,month,day,day_of_week,hour,minute,tweet_id,tweet_id_str,...,hashtags,source,language,screen_name,user_tweet_id,user_tweet_id_str,user_favourites_count,followers_count,friends_count,text
0,2020-06-21 13:07:45.190107,2020-06-14 18:37:37+00:00,2020,6,14,6,18,37,1272236769145208833,1272236769145208833,...,[],"<a href=""https://mobile.twitter.com"" rel=""nofo...",en,vai3333,207973622,207973622,1999,7183,5297,RT @AnimalStill: There comes a moment you find...
1,2020-06-21 13:07:47.134882,2020-06-18 09:59:31+00:00,2020,6,18,3,9,59,1273555936356061186,1273555936356061186,...,[{'text': 'Covid_19'}],"<a href=""https://mobile.twitter.com"" rel=""nofo...",nl,ChristienJanson,40452837,40452837,5630,592,1099,"Goh @albertheijn Almere Lavendelplantsoen, gee..."
2,2020-06-21 13:07:43.559885,2020-06-18 17:10:57+00:00,2020,6,18,3,17,10,1273664510591733762,1273664510591733762,...,"[{'text': 'Retail'}, {'text': 'Innovatie'}, {'...","<a href=""http://www.linkedin.com/"" rel=""nofoll...",und,buisman_pro,756432448561487872,756432448561487872,133,165,1320,#Retail #Innovatie #Covid_19 ðŸ˜· #AlbertHeijn #C...
3,2020-06-21 13:07:44.989645,2020-06-19 20:43:35+00:00,2020,6,19,4,20,43,1274080408028753920,1274080408028753920,...,"[{'text': 'WillemAlexander'}, {'text': 'veroni...","<a href=""http://twitter.com/download/iphone"" r...",nl,wendersinke,381493231,381493231,2352,606,519,"Iedereen heeft wel iets te zeggen, maar soms n..."
4,2020-06-21 13:07:43.985991,2020-06-20 06:14:39+00:00,2020,6,20,5,6,14,1274224124836089857,1274224124836089857,...,[{'text': 'Jumbo'}],"<a href=""https://mobile.twitter.com"" rel=""nofo...",en,JeannetteWezen1,1235877748163383296,1235877748163383296,7170,175,164,@marutza_mh @albertheijn #Jumbo is selling bre...

In [227]:
df_query_06.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   mined_at                 6 non-null      datetime64[ns]
 1   created_at               6 non-null      datetime64[ns, UTC]
 2   year                     6 non-null      int64
 3   month                    6 non-null      int64
 4   day                      6 non-null      int64
 5   day_of_week              6 non-null      int64
 6   hour                     6 non-null      int64
 7   minute                   6 non-null      int64
 8   tweet_id                 6 non-null      int64
 9   tweet_id_str             6 non-null      object
 10  in_reply_to_screen_name  1 non-null      object
 11  in_reply_to_status_id    1 non-null      float64
 12  in_reply_to_user_id      1 non-null      float64
 13  hashtags                 6 non-null      object
 14  source                   6 non-null      object
 15  language                 6 non-null      object
 16  screen_name              6 non-null      object
 17  user_tweet_id            6 non-null      int64
 18  user_tweet_id_str        6 non-null      object
 19  user_favourites_count    6 non-null      int64
 20  followers_count          6 non-null      int64
 21  friends_count            6 non-null      int64
 22  text                     6 non-null      object
dtypes: datetime64[ns, UTC](1), datetime64[ns](1), float64(2), int64(11), object(8)
memory usage: 1.2+ KB

REFS:

> https://python-twitter.readthedocs.io/en/latest/index.html

> https://developer.twitter.com/en/docs

Info:

1st corona case in The Netherlands: 27/02/2020

1st corona case in Brazil: 26/02/2020

**TODO**

- Check functions to see if I have all I need.
- Generalize as much as possible
- Order infor per date (created_at?)
- Should I have a function also for search?
- Retrieve info for:
    - jairbolsonaro
    - picnic
    - JumboSupermarkt
    - albertheijn
    - evanescence
    - WTofficial
    
- Include in class `TweetMiner` a function to user `GetSearch`

Using [`python-twitter`](https://python-twitter.readthedocs.io/en/latest/getting_started.html) since I've been facing some time out problems with [`Tweepy`](http://docs.tweepy.org/en/latest/getting_started.html).

In [ ]:
# !pip install python-twitter

# Load packages

# Setting up twitter authentication

# Functions

Function `mine_user_tweets` made use of [Get user_timeline](https://developer.twitter.com/en/docs/tweets/timelines/api-reference/get-statuses-user_timeline)

In [ ]:
import datetime
#TweetMiner function from Mike Roman

# some modification added by me - 15/04/19

class TweetMiner(object):

    
    def __init__(self, api, result_limit = 20, max_pages = 40):
        """result_limit = count that can take max 200"""
        
        self.api = api        
        self.result_limit = result_limit
        self.max_pages = max_pages
        

    def mine_user_tweets(self, user, mine_retweets=False):
        """ Mine tweets of user = screen_name or user_id"""

        data           =  []
        last_tweet_id  =  False
        page           =  1
        
        while page <= self.max_pages:
            
            if last_tweet_id:
                statuses   =   self.api.GetUserTimeline(screen_name=user, count=self.result_limit, max_id=last_tweet_id - 1, 
                                                        include_rts=mine_retweets)
                statuses = [ _.AsDict() for _ in statuses]
            else:
                statuses   =   self.api.GetUserTimeline(screen_name=user, count=self.result_limit, include_rts=mine_retweets)
                statuses = [_.AsDict() for _ in statuses]
                
            for item in statuses:
                # Using try except here.
                # When retweets = 0 we get an error (GetUserTimeline fails to create a key, 'retweet_count')
                try:
                    mined = {
                        'tweet_id':        item['id'],
                        'handle':          item['user']['screen_name'],
                        'retweet_count':   item['retweet_count'],
                        'text':            item['full_text'],
                        'mined_at':        datetime.datetime.now(),
                        'created_at':      item['created_at'],
                        'favorite_count':  item['favorite_count'],
                        'tweet_id_str':    item['id_str'],
                        'source':          item['source'],
                        
                    }
                    
            
                
                except:
                        mined = {
                        'tweet_id':        item['id'],
                        'handle':          item['user']['screen_name'],
                        'retweet_count':   0,
                        'text':            item['full_text'],
                        'mined_at':        datetime.datetime.now(),
                        'created_at':      item['created_at'],
#                         'favorite_count':  item['favorite_count'],
                        'tweet_id_str':    item['id_str'],
                        'source':          item['source'],
                    }
                
                last_tweet_id = item['id']
                data.append(mined)
                
            page += 1
            
        return data

In [ ]:
def processing_and_saving(df, file_name):
    
    TodaysDate = time.strftime("%Y-%m-%d-%H-%M")

    
    # Create columns 'year', 'month', 'day', 'hour', 'min' from 'created_at'
    df['created_at'] = pd.to_datetime(df['created_at'])
        
    df['year'] = df['created_at'].dt.year 
    df['month'] = df['created_at'].dt.month 
    df['day'] = df['created_at'].dt.day 
    df['hour'] = df['created_at'].dt.hour 
    df['minute'] = df['created_at'].dt.minute
    df['day_of_week'] = df['created_at'].dt.weekday
    
    df.sort_values(by='created_at',inplace = True)
    
    df = df[['mined_at', 'handle','tweet_id', 'tweet_id_str','created_at', 
             'year', 'month', 'day','day_of_week', 'hour', 'minute','retweet_count', 'source', 'text']]
    
    df.to_csv("./data_tweets/"+file_name+"_"+TodaysDate+".csv", index = False)
    
    return df

# Getting twitter by user

## Instantiate the class
---

Make sure you pass the keys dictionary and the api as arguments.

**Check:** call the object's `mine_user_tweets()` method, providing a user to pull the tweets of.

In [ ]:
# Result limit == count parameter from our GetUserTimeline() it can take max 200
# More pages more back in time you can go
miner = TweetMiner(api, result_limit=20, max_pages = 200)

In [ ]:
jairbolsonaro = miner.mine_user_tweets(user="jairbolsonaro")

In [ ]:
for x in range(5):
    print(jairbolsonaro[x]['text'])
    print('--')

## Convert the tweet ouputs to a pandas DataFrame
### jairbolsonaro

In [ ]:
jairbolsonaro

In [ ]:
df_bolsonaro = processing_and_saving(pd.DataFrame(jairbolsonaro), 'jairbolsonaro')

In [ ]:
df_bolsonaro.head()

In [ ]:
df_bolsonaro.info()

In [ ]:
min(df_bolsonaro.created_at),max(df_bolsonaro.created_at)

In [ ]:
df_bolsonaro.sort_values(by='created_at')

### picnic

In [ ]:
# Result limit == count parameter from our GetUserTimeline() it can take max 200
# More pages more back in time you can go
miner = TweetMiner(api, result_limit=20, max_pages = 100)
picnic = miner.mine_user_tweets(user="picnic")
df_picnic = processing_and_saving(pd.DataFrame(picnic), "picnic")

In [ ]:
df_picnic.info()

In [ ]:
min(df_picnic.created_at),max(df_picnic.created_at)

### JumboSupermarkt

In [ ]:
# Result limit == count parameter from our GetUserTimeline() it can take max 200
# More pages more back in time you can go
miner = TweetMiner(api, result_limit=20, max_pages = 200)
JumboSupermarkt = miner.mine_user_tweets(user="JumboSupermarkt")
df_JumboSupermarkt = processing_and_saving(pd.DataFrame(JumboSupermarkt), "JumboSupermarkt")

In [ ]:
df_JumboSupermarkt.info()

In [ ]:
min(df_JumboSupermarkt.created_at),max(df_JumboSupermarkt.created_at)

### albertheijn

In [ ]:
# Result limit == count parameter from our GetUserTimeline() it can take max 200
# More pages more back in time you can go
miner = TweetMiner(api, result_limit=20, max_pages = 300)
albertheijn = miner.mine_user_tweets(user="albertheijn")
df_albertheijn = processing_and_saving(pd.DataFrame(albertheijn), "albertheijn")

In [ ]:
df_albertheijn.info()

In [ ]:
min(df_albertheijn.created_at),max(df_albertheijn.created_at)

### evanescence

In [ ]:
# Result limit == count parameter from our GetUserTimeline() it can take max 200
# More pages more back in time you can go
miner = TweetMiner(api, result_limit=20, max_pages = 300)
evanescence = miner.mine_user_tweets(user="evanescence")
df_evanescence = processing_and_saving(pd.DataFrame(evanescence), "evanescence")

In [ ]:
df_evanescence.info()

In [ ]:
min(df_evanescence.created_at),max(df_evanescence.created_at)

In [ ]:
df_evanescence.tail()

### Within Temptation - WTofficial

In [ ]:
# Result limit == count parameter from our GetUserTimeline() it can take max 200
# More pages more back in time you can go
miner = TweetMiner(api, result_limit=20, max_pages = 300)
WTofficial = miner.mine_user_tweets(user="WTofficial")
df_WTofficial = processing_and_saving(pd.DataFrame(WTofficial), "WTofficial")

In [ ]:
df_WTofficial.info()

In [ ]:
min(df_WTofficial.created_at),max(df_WTofficial.created_at)

# Experimenting with GetSearch

In [ ]:
def search_tweets(max_pages = 20, count = 20, raw_query = None, result_type = 'mixed'):
        """ Search tweets """

        data           =  []
        last_tweet_id  =  False
        page           =  1
        
        while page <= max_pages:
            
            if last_tweet_id:
                statuses = api.GetSearch(raw_query=raw_query, count = count, result_type=result_type, max_id=last_tweet_id - 1)
                statuses = [ _.AsDict() for _ in statuses]
            else:
                statuses = api.GetSearch(raw_query=raw_query, count = count, result_type=result_type)
                statuses = [_.AsDict() for _ in statuses]
                
            for item in statuses:
                # Using try except here.
                # When retweets = 0 we get an error (GetUserTimeline fails to create a key, 'retweet_count')
                try:
                    mined = {
                        'tweet_id':        item['id'],
                        'handle':          item['user']['screen_name'],
                        'retweet_count':   item['retweet_count'],
                        'text':            item['full_text'],
                        'mined_at':        datetime.datetime.now(),
                        'created_at':      item['created_at'],
                        'favorite_count':  item['favorite_count'],
                        'tweet_id_str':    item['id_str'],
                        'source':          item['source'],
                        
                    }
                    
            
                
                except:
                        mined = {
                        'tweet_id':        item['id'],
                        'handle':          item['user']['screen_name'],
                        'retweet_count':   0,
                        'text':            item['full_text'],
                        'mined_at':        datetime.datetime.now(),
                        'created_at':      item['created_at'],
#                         'favorite_count':  item['favorite_count'],
                        'tweet_id_str':    item['id_str'],
                        'source':          item['source'],
                    }
                
                last_tweet_id = item['id']
                data.append(mined)
                
            page += 1
            
        return data

In [ ]:
raw_query="q=jairbolsonaro%2C%20corona%2C%20covid&src=typed_query"
results = search_tweets(max_pages = 15, count = 20, raw_query = raw_query, result_type = 'mixed')

In [ ]:
len(results)

In [ ]:
results[0]

In [ ]:
df_search_bolsonaro_corona = processing_and_saving(pd.DataFrame(results),"search_bolsonaro_corona")

In [ ]:
df_search_bolsonaro_corona.tail()

In [ ]:
df_search_bolsonaro_corona.info()

In [ ]:
results = api.GetSearch(raw_query="q=picnic", count = 100, result_type='popular')

In [ ]:
results

In [ ]:
raw_query = "q=picnic%20jumbo%20ah%20delivery&src=typed_query"

picnic_ah_jumbo_search = search_tweets(max_pages = 1, count = 5, raw_query = raw_query, result_type = 'mixed')
picnic_ah_jumbo_search

In [ ]:
df_picnic_ah_jumbo_search = processing_and_saving(pd.DataFrame(picnic_ah_jumbo_search),"picnic_ah_jumbo_search")

In [ ]:
df_picnic_ah_jumbo_search