<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Load-packages" data-toc-modified-id="Load-packages-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Load packages</a></span></li><li><span><a href="#Seeting-up-twitter-authentication" data-toc-modified-id="Seeting-up-twitter-authentication-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Seeting up twitter authentication</a></span></li><li><span><a href="#Getting-some-Tweets" data-toc-modified-id="Getting-some-Tweets-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Getting some Tweets</a></span><ul class="toc-item"><li><span><a href="#Getting-twitter-by-user" data-toc-modified-id="Getting-twitter-by-user-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Getting twitter by user</a></span><ul class="toc-item"><li><span><a href="#@picnic" data-toc-modified-id="@picnic-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>@picnic</a></span></li><li><span><a href="#@JumboSupermarkt" data-toc-modified-id="@JumboSupermarkt-3.1.2"><span class="toc-item-num">3.1.2&nbsp;&nbsp;</span>@JumboSupermarkt</a></span></li><li><span><a href="#@albertheijn" data-toc-modified-id="@albertheijn-3.1.3"><span class="toc-item-num">3.1.3&nbsp;&nbsp;</span>@albertheijn</a></span></li></ul></li><li><span><a href="#Applying-GetSearch-to-search-for-a-defined-query" data-toc-modified-id="Applying-GetSearch-to-search-for-a-defined-query-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Applying GetSearch to search for a defined query</a></span><ul class="toc-item"><li><span><a href="#Query_01:" data-toc-modified-id="Query_01:-3.2.1"><span class="toc-item-num">3.2.1&nbsp;&nbsp;</span>Query_01:</a></span></li><li><span><a href="#Query_02:" data-toc-modified-id="Query_02:-3.2.2"><span class="toc-item-num">3.2.2&nbsp;&nbsp;</span>Query_02:</a></span></li><li><span><a href="#Query_03:" data-toc-modified-id="Query_03:-3.2.3"><span class="toc-item-num">3.2.3&nbsp;&nbsp;</span>Query_03:</a></span></li><li><span><a href="#Query_04:" data-toc-modified-id="Query_04:-3.2.4"><span class="toc-item-num">3.2.4&nbsp;&nbsp;</span>Query_04:</a></span></li><li><span><a href="#Query_04B:" data-toc-modified-id="Query_04B:-3.2.5"><span class="toc-item-num">3.2.5&nbsp;&nbsp;</span>Query_04B:</a></span></li><li><span><a href="#Query_05:" data-toc-modified-id="Query_05:-3.2.6"><span class="toc-item-num">3.2.6&nbsp;&nbsp;</span>Query_05:</a></span></li><li><span><a href="#Query_06:" data-toc-modified-id="Query_06:-3.2.7"><span class="toc-item-num">3.2.7&nbsp;&nbsp;</span>Query_06:</a></span></li></ul></li></ul></li><li><span><a href="#Conclusions" data-toc-modified-id="Conclusions-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Conclusions</a></span></li></ul></div>

# Load packages

**Attention**: `private_twitter_credentials.py` contains my Twitter credentials. Insert your Twitter credentials in `twitter_credentials.py`
and replace `private_twitter_credentials` by `twitter_credentials` in this notebook.

In [1]:
import private_twitter_credentials
import twitter
import datetime
import pandas as pd
import time

TodaysDate = time.strftime("%Y-%m-%d-%H-%M")

# Seeting up twitter authentication

I'll be using [`python-twitter`](https://python-twitter.readthedocs.io/en/latest/index.html) a python wrapper around the Twitter API.

In [2]:
consumer_key = private_twitter_credentials.consumer_key
consumer_secret = private_twitter_credentials.consumer_secret
access_token = private_twitter_credentials.access_token
access_token_secret = private_twitter_credentials.access_token_secret

api = twitter.Api(
    consumer_key         =   consumer_key,
    consumer_secret      =   consumer_secret,
    access_token_key     =   access_token,
    access_token_secret  =   access_token_secret,
    tweet_mode = 'extended' # to ensure that we get the full text of the users' original tweets
)

# Getting some Tweets

In this project we want to :

* Access user timeline Tweets, i.e., apply `GetUserTimeline` method on object `api` created in last section
* Access Tweets resulting from some query, i.e., apply `GetSearch` method on `api`.

Consider we want to get some Tweets from `Picnic`, one of the Twitter's user will be considering in this project. The account’s Twitter handle of `Picnic` is `@picnic` and we will be using the argument `screen_name` as the handle without `@`.

In [3]:
# we will use for now `screen_name` and `count`. Count has limit of 200, i.e., we can only retrieve 200 tweets per call
tweets_picnic = api.GetUserTimeline(screen_name='picnic', count = 200)

# see all available info in a dictionary

tweets_picnic = [ _.AsDict() for _ in tweets_picnic]

Check the 1st one

In [4]:
tweets_picnic[0]

{'created_at': 'Wed Jun 24 08:12:09 +0000 2020',
 'full_text': '@Wouter_Kamp Door de coronacrisis stond de wachtlijst helaas even stil omdat we het zo druk hadden met bestellingen van onze huidige klanten. We doen hard ons best om het capaciteit te vergroten. Hopelijk kunnen we je snel verwelkomen! ^Mylène',
 'hashtags': [],
 'id': 1275703244707319808,
 'id_str': '1275703244707319808',
 'in_reply_to_screen_name': 'Wouter_Kamp',
 'in_reply_to_status_id': 1275681281280487424,
 'in_reply_to_user_id': 25038753,
 'lang': 'nl',
 'source': '<a href="https://mobile.twitter.com" rel="nofollow">Twitter Web App</a>',
 'urls': [],
 'user': {'created_at': 'Tue Dec 02 13:21:56 +0000 2014',
  'description': 'Online supermarket Picnic delivers groceries free to your door with a 100% electric fleet, making online grocery shopping affordable for everyone',
  'favourites_count': 3886,
  'followers_count': 4841,
  'friends_count': 5,
  'id': 2902300475,
  'id_str': '2902300475',
  'listed_count': 26,
  'name': 'Picnic',
  'profile_background_color': '000000',
  'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/2902300475/1452533616',
  'profile_image_url': 'http://pbs.twimg.com/profile_images/990125237948813312/m7Ew9VUQ_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/990125237948813312/m7Ew9VUQ_normal.jpg',
  'profile_link_color': 'EC1D25',
  'profile_sidebar_border_color': '000000',
  'profile_sidebar_fill_color': '000000',
  'profile_text_color': '000000',
  'screen_name': 'picnic',
  'statuses_count': 6866,
  'url': 'https://t.co/ItjPo57xHu'},
 'user_mentions': [{'id': 25038753,
   'id_str': '25038753',
   'name': 'Wouter Kamp',
   'screen_name': 'Wouter_Kamp'}]}

Let's say that you want to search Tweets that mention AH and COVID-19. In thi case you use the method `GetSearch` using your query as argument. 

The easiest way to have the query right is going to [Twitter’s Advanced Search](https://twitter.com/search-advanced) and typing what you want to know. Then using as your `raw_query` the part of search URL after the "?" to use `raw_query`, removing the `&src=typd` portion.

Let's try it out.

In [17]:
%%html
<img src ="../images/search.JPG", width=400, height=200>

The url obtained was https://twitter.com/search?q=%40albertheijn%20covid-19&src=typed_query therefore I will use `raw_query = q=%40albertheijn%20covid-19`.

In [18]:
search_result = api.GetSearch(raw_query='q=%40albertheijn%20covid-19')
search_result = [ _.AsDict() for _ in search_result]

In [21]:
print('Result of the results with the last 7 days:', len(search_result))

Result of the results with the last 7 days: 3

The results from `GetSearch` are limited to 7 days. In the last 7 days we got 3 Tweets that mentioned @albertheijn and covid-19. Details of the most recent is shown below:

In [22]:
search_result[0]

{'created_at': 'Mon Jun 22 17:22:09 +0000 2020',
 'full_text': 'Steeds meer artikelen verdwijnen uit het online assortiment bij \u2066@albertheijn\u2069. Ben benieuwd of er een alternatief komt. Zo niet: zit je dan met je jaarabonnement bezorgen. Wie is het haasje? Mensen die tot de risicogroep behoren mbt covid-19. https://t.co/5LDBwwfjJZ',
 'hashtags': [],
 'id': 1275116878566916096,
 'id_str': '1275116878566916096',
 'lang': 'nl',
 'media': [{'display_url': 'pic.twitter.com/5LDBwwfjJZ',
   'expanded_url': 'https://twitter.com/Belleblabla/status/1275116878566916096/photo/1',
   'id': 1275116874578243589,
   'media_url': 'http://pbs.twimg.com/media/EbIgCqRXsAUMyw-.jpg',
   'media_url_https': 'https://pbs.twimg.com/media/EbIgCqRXsAUMyw-.jpg',
   'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'},
    'small': {'w': 680, 'h': 163, 'resize': 'fit'},
    'medium': {'w': 1063, 'h': 255, 'resize': 'fit'},
    'large': {'w': 1063, 'h': 255, 'resize': 'fit'}},
   'type': 'photo',
   'url': 'https://t.co/5LDBwwfjJZ'}],
 'source': '<a href="http://twitter.com/#!/download/ipad" rel="nofollow">Twitter for iPad</a>',
 'urls': [],
 'user': {'created_at': 'Sat Apr 18 10:39:39 +0000 2009',
  'description': "WARNING! Posts may contain irony. Discontinue reading if you're experiencing elevated blood pressure. Bikepacking, Sims F./WoW, SvdJ, O365, Gen. X.",
  'favourites_count': 4234,
  'followers_count': 632,
  'friends_count': 344,
  'id': 32850416,
  'id_str': '32850416',
  'listed_count': 35,
  'location': 'Azeroth',
  'name': 'Belle P. te A.',
  'profile_background_color': '1A1B1F',
  'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme9/bg.gif',
  'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme9/bg.gif',
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/32850416/1564558139',
  'profile_image_url': 'http://pbs.twimg.com/profile_images/1250787852641845249/8dCrByJO_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1250787852641845249/8dCrByJO_normal.jpg',
  'profile_link_color': 'CC0000',
  'profile_sidebar_border_color': 'FFFFFF',
  'profile_sidebar_fill_color': '252429',
  'profile_text_color': '666666',
  'profile_use_background_image': True,
  'screen_name': 'Belleblabla',
  'statuses_count': 33076,
  'url': 'https://t.co/W5DahlBOAc'},
 'user_mentions': [{'id': 279015870,
   'id_str': '279015870',
   'name': 'Albert Heijn',
   'screen_name': 'albertheijn'}]}

When retrieving Tweets from user timeline Twitter API limites us to 200 Tweets at a time, and from search to 100 tweets. This is the parameter `count` from both methods, `GetUserTimeline` and `GetSearch`.

Another constraint that we need to deal with is that the Twitter API is rate limited, meaning Twitter puts restrictions on how much data you can take at a time. More details about it [here](https://developer.twitter.com/en/docs/basics/rate-limiting#:~:text=Rate%20limiting%20of%20the%20standard,per%20window%20per%20access%20token.).

Because I want to retrieve much more than 200 Tweets (if possible) I'll write a class with two methods.

Class `TweetMiner` contains two methods: 

* `mine_user_tweets` which mine user's tweets making use of [GetUserTimeline](https://developer.twitter.com/en/docs/tweets/timelines/api-reference/get-statuses-user_timeline)

* `search_tweets` which mine tweets using [GetSearch](https://developer.twitter.com/en/docs/tweets/search/api-reference/get-search-tweets)

Details about both uses will be show respectively, in sections:

[Getting twitter by user](#Getting-twitter-by-user)

[Applying GetSearch to search for a defined query](#Applying-GetSearch-to-search-for-a-defined-query)

In [51]:
import datetime

class TweetMiner(object):
    """ Make possible obtaining tweets using twitter user id (mine_user_tweets) or performing a standard Twitter 
    API search (search_tweets)"""

    
    def __init__(self, api, result_limit = 20, max_pages = 40):
        """result_limit = count that can take max 200 (mine_user_tweets) and max 100 (search_tweets)"""
        
        self.api = api        
        self.result_limit = result_limit
        self.max_pages = max_pages
        

    def mine_user_tweets(self, user, mine_retweets=False):
        """ Mine tweets of user = screen_name or user_id"""

        data           =  []
        last_tweet_id  =  False
        page           =  1
        
        while page <= self.max_pages:
            
            if last_tweet_id:
                statuses   =   self.api.GetUserTimeline(screen_name=user, count=self.result_limit, max_id=last_tweet_id - 1, 
                                                        include_rts=mine_retweets)
                statuses = [ _.AsDict() for _ in statuses]
            else:
                statuses   =   self.api.GetUserTimeline(screen_name=user, count=self.result_limit, 
                                                        include_rts=mine_retweets)
                statuses = [_.AsDict() for _ in statuses]
                
            for item in statuses:
                # Using try except here.
                # When retweets = 0 we get an error (GetUserTimeline fails to create a key, 'retweet_count')
                try:
                    mined = {
                        'mined_at':         datetime.datetime.now(),
                        'created_at':       item['created_at'],
                        'tweet_id':         item['id'],
                        'tweet_id_str':     item['id_str'],
                        'screen_name':      item['user']['screen_name'],
                        'favorite_count':   item['favorite_count'],
                        'text':             item['full_text'],
                        'source':           item['source'],
                        'hashtags':         item['hashtags'],
                        'urls':             item['urls'],
                        'language':         item['lang'],
                        'retweet_count':    item['retweet_count'],
                        #user info
                        'user_favourites_count': item['user']['favourites_count'],
                        'followers_count':  item['user']['followers_count'],
                        'friends_count':    item['user']['friends_count']
                    }
            
                
                except:
                    mined = {
                        'mined_at':         datetime.datetime.now(),
                        'created_at':       item['created_at'],
                        'tweet_id':         item['id'],
                        'tweet_id_str':     item['id_str'],
                        'screen_name':      item['user']['screen_name'],
#                         'favorite_count':   item['favorite_count'],
                        'text':             item['full_text'],
                        'source':           item['source'],
                        'hashtags':         item['hashtags'],
                        'urls':             item['urls'],
                        'language':         item['lang'],
                        'retweet_count':    0,
                        # user info
                        'user_favourites_count': item['user']['favourites_count'],
                        'followers_count':  item['user']['followers_count'],
                        'friends_count':    item['user']['friends_count']
                        }
                
                last_tweet_id = item['id']
                data.append(mined)
                
            page += 1
            
        return data
    
    def search_tweets(max_pages = 20, count = 20, raw_query = None, result_type = 'mixed'):
        """ Search tweets """

        data           =  []
        last_tweet_id  =  False
        page           =  1
        
        while page <= max_pages:
            
            if last_tweet_id:
                statuses = api.GetSearch(raw_query=raw_query, count = count, result_type=result_type, 
                                         max_id=last_tweet_id - 1)
                statuses = [ _.AsDict() for _ in statuses]
            else:
                statuses = api.GetSearch(raw_query=raw_query, count = count, result_type=result_type)
                statuses = [_.AsDict() for _ in statuses]
                
            for item in statuses:
                # Using try except here.
                try:
                    mined = {
                        'mined_at':                datetime.datetime.now(),
                        'created_at':              item['created_at'],
                        'tweet_id':                item['id'],
                        'tweet_id_str':            item['id_str'],
                        'in_reply_to_screen_name': item['in_reply_to_screen_name'],
                        'in_reply_to_status_id':   item['in_reply_to_status_id'],
                        'in_reply_to_user_id':     item['in_reply_to_user_id'],
                        'language':                item['lang'],
                        'text':                    item['full_text'],
                        'hashtags':                item['hashtags'],
                        'source':                  item['source'],
                       # info about user
                        'user_id':                 item['user']['id'],
                        'user_screen_name':        item['user']['screen_name'],
                        'user_location':           item['user']['location'],
                        'user_favourites_count':   item['user']['favourites_count'],
                        'followers_count':         item['user']['followers_count'],
                        'friends_count':           item['user']['friends_count']
                    }
                    
                except:
                    mined = {
                        'mined_at':                datetime.datetime.now(),
                        'created_at':              item['created_at'],
                        'tweet_id':                item['id'],
                        'tweet_id_str':            item['id_str'],
#                         'in_reply_to_screen_name': item['in_reply_to_screen_name'],
#                         'in_reply_to_status_id':   item['in_reply_to_status_id'],
#                         'in_reply_to_user_id':     item['in_reply_to_user_id'],
                        'language':                item['lang'],
                        'text':                    item['full_text'],
                        'hashtags':                item['hashtags'],
                        'source':                  item['source'],
                       # info about user
                        'user_id':                 item['user']['id'],
                        'user_screen_name':        item['user']['screen_name'],
                        'user_location':           item['user']['location'],
#                         'user_favourites_count':   item['user']['favourites_count'],
                        'followers_count':         item['user']['followers_count'],
                        'friends_count':           item['user']['friends_count']
                    }
                                            
                
                last_tweet_id = item['id']
                data.append(mined)
                
            page += 1
            
        return data

In [6]:
def process_and_save(df, file_name, mine_user_twitter=1):
    """ Save retrieved tweets in csv file.
    
    Input:
    
    df : dataframe of tweets'data
    file_name: name with which the csv will be saved (without extension)
    mine_user_twitter: Indicates if df came contains tweets from a twitter user (mine_user_twitter=1), i.e., it was 
    obtained using GetUserTimeline since the information obtained from this method is different from an API search 
    from GetSearch. Therefore, when using GetSearch (mine_user_twitter=0).
    
    """
    
    TodaysDate = time.strftime("%Y-%m-%d-%H-%M")

    
    # Create columns 'year', 'month', 'day', 'hour', 'min' from 'created_at'
    df['created_at'] = pd.to_datetime(df['created_at'])
        
    df['year'] = df['created_at'].dt.year 
    df['month'] = df['created_at'].dt.month 
    df['day'] = df['created_at'].dt.day 
    df['hour'] = df['created_at'].dt.hour 
    df['minute'] = df['created_at'].dt.minute
    df['day_of_week'] = df['created_at'].dt.weekday
    
    if mine_user_twitter:
    
        df = df[['mined_at', 'created_at', 'year', 'month', 'day','day_of_week', 
             'hour', 'minute', 'screen_name', 'tweet_id', 'tweet_id_str',  'retweet_count', 'favorite_count', 'source', 'language', 'user_favourites_count', 
             'followers_count','friends_count','text']]
    else:
        df = df[['mined_at','created_at', 'year', 'month', 'day','day_of_week', 
                 'hour', 'minute', 'tweet_id', 'tweet_id_str', 'in_reply_to_screen_name','in_reply_to_status_id',
                 'in_reply_to_user_id', 'hashtags','source','language', 'screen_name','user_tweet_id','user_tweet_id_str','user_favourites_count','followers_count',
                 'friends_count', 'text']]
        
    df.sort_values(by='created_at',inplace = True)
    
    # the normal use of drop_duplicates raise typeerror unhashable type 'list' so I needed to adapt using str
    # as pointed out in https://stackoverflow.com/questions/43855462/pandas-drop-duplicates-method-not-working?rq=1
    
    df = df.loc[df.astype(str).drop_duplicates(subset=['created_at','tweet_id','text']).index]
    df.reset_index(drop = True, inplace = True)
    
    
    df.to_csv("../data/tweets/"+file_name+"_"+TodaysDate+".csv", index = False)
    
    return df

Now that we have our class to retrieve Tweets and our function to save the result in .csv let's collect data.

The goal of this project is to check the sentiment of users towards the (online) supermarkets , i.e., Jumbo Supermarkten, AH, and Picnic, especially after COVID-19 entered our lives. The first two are supermarkets chains that also provide online grocery shopping while the last one is exclusively online supermarket.

Everything changed since the first case of corona virus in The Netherlands (February 27th) and the way of shopping groceries suffered important changes, in particular, considering the sudden and significant increase the number of users that opted for online grocery shopping. Supermarkets were not ready for such an explosion on demand, some adapted faster than others. Specially, `Picnic` that has the sole focus on online shopping.

Some were completely not available to receive order while with orders the consumer should consider a planning of about 2 weeks until being able to receive his/her order. I have my own experiences but I want to access the sentiment of consumers via tweets messages over these 3 providers. In special, I want to focus in this period were COVID-19 is present.

The idea is to get twitters covering the period from the 1st case until today both for info retrieved by user (`GetUserTimeline`) and by query (`GetSearch`).

We need, however, to consider some limitations.
First, it is difficult to have control on how far in the past we can go when retrieving user timeline data (using `TweetMiner. mine_user_tweets()`. So, we will play mainly with parameters `result_limit`, i.e., count and `max_pages`.

Second, when performing search with API it is only possible to access Tweets of the last 7 days (more details [here](https://developer.twitter.com/en/docs/tweets/search/overview/standard)). So unfortunately, when performing queries, we will be limited and we will not be able to go back months ago.

## Getting twitter by user

To start we will obtain tweets for `picnic`, `JumboSupermarkt`, and `albertheijn`.

### @picnic

In [11]:
# Result limit == count parameter from our GetUserTimeline() it can take max 200
# More pages more back in time you can go
miner = TweetMiner(api, result_limit=200, max_pages = 20)
picnic = miner.mine_user_tweets(user="picnic")
df_picnic = process_and_save(pd.DataFrame(picnic), "picnic")

In [12]:
df_picnic.tail()

,mined_at,created_at,year,month,day,day_of_week,hour,minute,screen_name,tweet_id,tweet_id_str,retweet_count,favorite_count,source,language,user_favourites_count,followers_count,friends_count,text
3216,2020-06-22 14:52:46.219903,2020-06-21 20:36:45+00:00,2020,6,21,6,20,36,picnic,1274803466255433728,1274803466255433728,0,NaN,"<a href=""https://mobile.twitter.com"" rel=""nofo...",nl,3885,4844,5,@joopjr Het klopt dat het tijdelijk niet lever...
3217,2020-06-22 14:52:46.219903,2020-06-22 07:18:27+00:00,2020,6,22,0,7,18,picnic,1274964953615806464,1274964953615806464,0,NaN,"<a href=""https://mobile.twitter.com"" rel=""nofo...",nl,3885,4844,5,@joopjr Zeker! Het gaat hier om een tijdelijke...
3218,2020-06-22 14:52:46.219903,2020-06-22 07:19:16+00:00,2020,6,22,0,7,19,picnic,1274965159514161152,1274965159514161152,0,NaN,"<a href=""https://mobile.twitter.com"" rel=""nofo...",nl,3885,4844,5,"@LauriettedR Dankjewel Lauriëtte, ik ga er met..."
3219,2020-06-22 14:52:46.219903,2020-06-22 09:28:32+00:00,2020,6,22,0,9,28,picnic,1274997691056037892,1274997691056037892,0,NaN,"<a href=""https://mobile.twitter.com"" rel=""nofo...",en,3885,4844,5,@peachchocobo ☺️ ^Wesley https://t.co/IV9JhSAQG0
3220,2020-06-22 14:52:46.219903,2020-06-22 09:39:23+00:00,2020,6,22,0,9,39,picnic,1275000421883527169,1275000421883527169,0,NaN,"<a href=""https://mobile.twitter.com"" rel=""nofo...",nl,3885,4844,5,@peachchocobo Dankjewel voor het mooie complim...

In [13]:
df_picnic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3221 entries, 0 to 3220
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   mined_at               3221 non-null   datetime64[ns]
 1   created_at             3221 non-null   datetime64[ns, UTC]
 2   year                   3221 non-null   int64
 3   month                  3221 non-null   int64
 4   day                    3221 non-null   int64
 5   day_of_week            3221 non-null   int64
 6   hour                   3221 non-null   int64
 7   minute                 3221 non-null   int64
 8   screen_name            3221 non-null   object
 9   tweet_id               3221 non-null   int64
 10  tweet_id_str           3221 non-null   object
 11  retweet_count          3221 non-null   int64
 12  favorite_count         49 non-null     float64
 13  source                 3221 non-null   object
 14  language               3221 non-null   object
 15  user_favourites_count  3221 non-null   int64
 16  followers_count        3221 non-null   int64
 17  friends_count          3221 non-null   int64
 18  text                   3221 non-null   object
dtypes: datetime64[ns, UTC](1), datetime64[ns](1), float64(1), int64(11), object(5)
memory usage: 478.2+ KB

In [14]:
min(df_picnic.created_at),max(df_picnic.created_at)

(Timestamp('2018-12-07 15:06:19+0000', tz='UTC'),
 Timestamp('2020-06-22 09:39:23+0000', tz='UTC'))

For `Picnic` we went far enough. We got data back to December 2018!

After experimenting a bit, it seems that better keep `result_limit` close to its maximum 200 and try `max_pages` around 20. If there is some kind of connection error wait and try again after a while or reduce these values.

In [15]:
print("Picnic's followers", df_picnic.loc[df_picnic.shape[0]-1,'followers_count'])
print("Picnic's friends", df_picnic.loc[df_picnic.shape[0]-1,'friends_count'])

Picnic's followers 4844
Picnic's friends 5

In [16]:
df_picnic['language'].value_counts()

nl     2922
und     190
en       90
es        5
de        4
fr        3
in        2
ht        1
it        1
cy        1
sv        1
fi        1
Name: language, dtype: int64

### @JumboSupermarkt

In [19]:
# Result limit == count parameter from our GetUserTimeline() it can take max 200
# More pages more back in time you can go
miner = TweetMiner(api, result_limit=200, max_pages = 20)
JumboSupermarkt = miner.mine_user_tweets(user="JumboSupermarkt")

df_JumboSupermarkt = process_and_save(pd.DataFrame(JumboSupermarkt), "JumboSupermarkt")

In [20]:
df_JumboSupermarkt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3232 entries, 0 to 3231
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   mined_at               3232 non-null   datetime64[ns]
 1   created_at             3232 non-null   datetime64[ns, UTC]
 2   year                   3232 non-null   int64
 3   month                  3232 non-null   int64
 4   day                    3232 non-null   int64
 5   day_of_week            3232 non-null   int64
 6   hour                   3232 non-null   int64
 7   minute                 3232 non-null   int64
 8   screen_name            3232 non-null   object
 9   tweet_id               3232 non-null   int64
 10  tweet_id_str           3232 non-null   object
 11  retweet_count          3232 non-null   int64
 12  favorite_count         13 non-null     float64
 13  source                 3232 non-null   object
 14  language               3232 non-null   object
 15  user_favourites_count  3232 non-null   int64
 16  followers_count        3232 non-null   int64
 17  friends_count          3232 non-null   int64
 18  text                   3232 non-null   object
dtypes: datetime64[ns, UTC](1), datetime64[ns](1), float64(1), int64(11), object(5)
memory usage: 479.9+ KB

In [21]:
min(df_JumboSupermarkt.created_at),max(df_JumboSupermarkt.created_at)

(Timestamp('2020-03-07 20:15:43+0000', tz='UTC'),
 Timestamp('2020-06-22 11:03:38+0000', tz='UTC'))

In [22]:
# Result limit == count parameter from our GetUserTimeline() it can take max 200
# More pages more back in time you can go
miner = TweetMiner(api, result_limit=200, max_pages = 25)
JumboSupermarkt = miner.mine_user_tweets(user="JumboSupermarkt")
df_JumboSupermarkt = process_and_save(pd.DataFrame(JumboSupermarkt), "JumboSupermarkt")

In [23]:
min(df_JumboSupermarkt.created_at),max(df_JumboSupermarkt.created_at)

(Timestamp('2020-03-07 20:15:43+0000', tz='UTC'),
 Timestamp('2020-06-22 11:03:38+0000', tz='UTC'))

Changing parameters does not seem to help here and we could only retrieve data from March 6th, 2020 until now for Jumbo.

In [24]:
print("Jumbo's followers", df_JumboSupermarkt.loc[df_JumboSupermarkt.shape[0]-1,'followers_count'])
print("Jumbo's friends", df_JumboSupermarkt.loc[df_JumboSupermarkt.shape[0]-1,'friends_count'])

Jumbo's followers 16209
Jumbo's friends 1711

In [25]:
df_JumboSupermarkt['language'].value_counts()

nl     3132
en       68
und      25
in        3
de        2
da        1
tl        1
Name: language, dtype: int64

### @albertheijn

In [26]:
# Result limit == count parameter from our GetUserTimeline() it can take max 200
# More pages more back in time you can go
miner = TweetMiner(api, result_limit=200, max_pages = 20)
albertheijn = miner.mine_user_tweets(user="albertheijn")
df_albertheijn = process_and_save(pd.DataFrame(albertheijn), "albertheijn")

In [27]:
df_albertheijn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3217 entries, 0 to 3216
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   mined_at               3217 non-null   datetime64[ns]
 1   created_at             3217 non-null   datetime64[ns, UTC]
 2   year                   3217 non-null   int64
 3   month                  3217 non-null   int64
 4   day                    3217 non-null   int64
 5   day_of_week            3217 non-null   int64
 6   hour                   3217 non-null   int64
 7   minute                 3217 non-null   int64
 8   screen_name            3217 non-null   object
 9   tweet_id               3217 non-null   int64
 10  tweet_id_str           3217 non-null   object
 11  retweet_count          3217 non-null   int64
 12  favorite_count         25 non-null     float64
 13  source                 3217 non-null   object
 14  language               3217 non-null   object
 15  user_favourites_count  3217 non-null   int64
 16  followers_count        3217 non-null   int64
 17  friends_count          3217 non-null   int64
 18  text                   3217 non-null   object
dtypes: datetime64[ns, UTC](1), datetime64[ns](1), float64(1), int64(11), object(5)
memory usage: 477.6+ KB

In [28]:
min(df_albertheijn.created_at),max(df_albertheijn.created_at)

(Timestamp('2020-04-06 16:33:02+0000', tz='UTC'),
 Timestamp('2020-06-22 11:43:16+0000', tz='UTC'))

In [29]:
# Result limit == count parameter from our GetUserTimeline() it can take max 200
# More pages more back in time you can go
miner = TweetMiner(api, result_limit=200, max_pages = 100)
albertheijn = miner.mine_user_tweets(user="albertheijn")
df_albertheijn = process_and_save(pd.DataFrame(albertheijn), "albertheijn")

In [30]:
min(df_albertheijn.created_at),max(df_albertheijn.created_at)

(Timestamp('2020-04-06 16:33:02+0000', tz='UTC'),
 Timestamp('2020-06-22 11:43:16+0000', tz='UTC'))

In [31]:
df_albertheijn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3217 entries, 0 to 3216
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   mined_at               3217 non-null   datetime64[ns]
 1   created_at             3217 non-null   datetime64[ns, UTC]
 2   year                   3217 non-null   int64
 3   month                  3217 non-null   int64
 4   day                    3217 non-null   int64
 5   day_of_week            3217 non-null   int64
 6   hour                   3217 non-null   int64
 7   minute                 3217 non-null   int64
 8   screen_name            3217 non-null   object
 9   tweet_id               3217 non-null   int64
 10  tweet_id_str           3217 non-null   object
 11  retweet_count          3217 non-null   int64
 12  favorite_count         25 non-null     float64
 13  source                 3217 non-null   object
 14  language               3217 non-null   object
 15  user_favourites_count  3217 non-null   int64
 16  followers_count        3217 non-null   int64
 17  friends_count          3217 non-null   int64
 18  text                   3217 non-null   object
dtypes: datetime64[ns, UTC](1), datetime64[ns](1), float64(1), int64(11), object(5)
memory usage: 477.6+ KB

Again the changing parameters didn't work. For `AH` we only succeeded in getting back to April 6th, 2020.

In [32]:
print("AH's followers", df_albertheijn.loc[df_albertheijn.shape[0]-1,'followers_count'])
print("AH's friends", df_albertheijn.loc[df_albertheijn.shape[0]-1,'friends_count'])

AH's followers 45532
AH's friends 6

In [33]:
df_albertheijn['language'].value_counts()

nl     3111
en       74
und       6
et        5
fr        5
tr        4
da        2
in        2
fi        2
ht        1
de        1
is        1
pl        1
es        1
sv        1
Name: language, dtype: int64

## Applying GetSearch to search for a defined query


Twitter’s search parameters are a bit complex, to perform a particular search, you can consult Twitter’s documentation at https://dev.twitter.com/rest/public/search.

An easier way is to make use of [Twitter’s Advanced Search](toolhttps://twitter.com/search-advanced), and then use the part of search URL after the "?" to use `raw_query`, removing the `&src=typd` portion.

In this section we will perform some queries to allow us to compare `Picnic`, `Jumbo`, and `AH`. In particular, my main goal is to include also `COVID-19`. But since we are in June and things seem to be now much more in control than few months ago, I'm not sure if I'll be able to retrieve enough Tweets using these key words.

In addition, the results obtained from Twitter API searches against a sampling of recent Tweets published in the past 7 days (more details [here](https://developer.twitter.com/en/docs/tweets/search/overview/standard)). So, the results you see in the website when using `Twitter’s Advanced Search` will not per se be in the result of the API search.

### Query_01:

`All these words`: picnic, jumbo, ah, covid

`Dates:`

    From: February - 25 -2020
    To:   June - 21 -2020

**Result:** `https://twitter.com/search?q=picnic%2C%20jumbo%2C%20ah%2C%20covid%20until%3A2020-06-21%20since%3A2020-02-25&src=typed_query`

In [35]:
query_01 = 'q=picnic%2C%20jumbo%2C%20ah%2C%20covid%20until%3A2020-06-21%20since%3A2020-02-25'
result = TweetMiner.search_tweets(raw_query = query_01)
len(result)

0

As expected, since the 2 Tweets there are from March and therefore are not catch by the API.

### Query_02:

So let's make a query without `covid`.

`All these words`: picnic, jumbo, ah

**Result:** `https://twitter.com/search?q=picnic%2C%20jumbo%2C%20ah&src=typed_query`

In [36]:
query_02 = 'q=picnic%2C%20jumbo%2C%20ah'
result_02 = TweetMiner.search_tweets(max_pages = 20, count = 100, raw_query = query_02)
len(result_02)

80

In [37]:
result_02[0]

{'mined_at': datetime.datetime(2020, 6, 22, 15, 14, 55, 440399),
 'created_at': 'Thu Jun 18 15:03:16 +0000 2020',
 'tweet_id': 1273632376950849537,
 'tweet_id_str': '1273632376950849537',
 'language': 'nl',
 'text': 'Half juni en nog steeds worden boodschappen bezorgd bij meerdere huizen in de straat door AH, Jumbo, Picnic. Benieuwd: is dat blijvend of gaan mensen toch weer zelf naar de winkel over een tijdje? Onze boodschappen werden al langer bezorgd, wegens geen biowinkel hier @Korenmaat',
 'hashtags': [],
 'source': '<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>',
 'screen_name': 'martiendas',
 'user_tweet_id': 111582731,
 'user_tweet_id_str': '111582731',
 'user_favourites_count': 10988,
 'followers_count': 4646,
 'friends_count': 5115}

In [38]:
df_query_02 = process_and_save(pd.DataFrame(result_02),"query_02",mine_user_twitter=0)
df_query_02.head()

,mined_at,created_at,year,month,day,day_of_week,hour,minute,tweet_id,tweet_id_str,...,hashtags,source,language,screen_name,user_tweet_id,user_tweet_id_str,user_favourites_count,followers_count,friends_count,text
0,2020-06-22 15:14:57.317786,2020-06-18 11:50:31+00:00,2020,6,18,3,11,50,1273583869753724930,1273583869753724930,...,[],"<a href=""https://mobile.twitter.com"" rel=""nofo...",nl,GHengeveld,20709019,20709019,889,1485,1750,@jelleprins @picnic @JumboSupermarkt @alberthe...
1,2020-06-22 15:14:59.345086,2020-06-18 11:56:42+00:00,2020,6,18,3,11,56,1273585426268409859,1273585426268409859,...,[],"<a href=""http://twitter.com/download/iphone"" r...",nl,jelleprins,16546619,16546619,4419,10511,1063,@Oli4K @picnic @JumboSupermarkt @albertheijn L...
2,2020-06-22 15:14:58.109173,2020-06-18 14:00:01+00:00,2020,6,18,3,14,0,1273616458459705347,1273616458459705347,...,[],"<a href=""https://about.twitter.com/products/tw...",nl,agfnl,164631799,164631799,84,8530,2129,"""Trendbreuk: Jumbo al 3 weken duurder in AGF d..."
3,2020-06-22 15:14:58.942206,2020-06-18 15:03:16+00:00,2020,6,18,3,15,3,1273632376950849537,1273632376950849537,...,[],"<a href=""http://twitter.com/download/android"" ...",nl,martiendas,111582731,111582731,10988,4646,5115,Half juni en nog steeds worden boodschappen be...

In [39]:
df_query_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   mined_at                 4 non-null      datetime64[ns]
 1   created_at               4 non-null      datetime64[ns, UTC]
 2   year                     4 non-null      int64
 3   month                    4 non-null      int64
 4   day                      4 non-null      int64
 5   day_of_week              4 non-null      int64
 6   hour                     4 non-null      int64
 7   minute                   4 non-null      int64
 8   tweet_id                 4 non-null      int64
 9   tweet_id_str             4 non-null      object
 10  in_reply_to_screen_name  2 non-null      object
 11  in_reply_to_status_id    2 non-null      float64
 12  in_reply_to_user_id      2 non-null      float64
 13  hashtags                 4 non-null      object
 14  source                   4 non-null      object
 15  language                 4 non-null      object
 16  screen_name              4 non-null      object
 17  user_tweet_id            4 non-null      int64
 18  user_tweet_id_str        4 non-null      object
 19  user_favourites_count    4 non-null      int64
 20  followers_count          4 non-null      int64
 21  friends_count            4 non-null      int64
 22  text                     4 non-null      object
dtypes: datetime64[ns, UTC](1), datetime64[ns](1), float64(2), int64(11), object(8)
memory usage: 864.0+ bytes

In the case of queries we have much less results than in the case of user timeline so it was necessary to add `drop_duplicates` to function `process_and_save` to remove repeated rows.

Notice that `result_02` showed to exist 80 tweets when in fact after removing duplicates we have only 4.

In [41]:
min(df_query_02['created_at']),max(df_query_02['created_at'])

(Timestamp('2020-06-18 11:50:31+0000', tz='UTC'),
 Timestamp('2020-06-18 15:03:16+0000', tz='UTC'))

In [68]:
df_query_02['text'].values

array(['@jelleprins @picnic @JumboSupermarkt @albertheijn Geen ervaring met die van Jumbo of AH, maar die van Picnic is so gebruiksvriendelijk dat mijn zoontje van 3 de boodschappen doet.',
       '@Oli4K @picnic @JumboSupermarkt @albertheijn Lijkt er op dat Jumbo &amp; AH erg naar website &amp; elkaar hebben gekeken, terwijl Picnic echt mobile first &amp; vanuit niks is gestart.',
       '"Trendbreuk: Jumbo al 3 weken duurder in AGF dan AH, Picnic volgt"\nhttps://t.co/mVfpqWNoT7 https://t.co/vPVSFN5S49',
       'Half juni en nog steeds worden boodschappen bezorgd bij meerdere huizen in de straat door AH, Jumbo, Picnic. Benieuwd: is dat blijvend of gaan mensen toch weer zelf naar de winkel over een tijdje? Onze boodschappen werden al langer bezorgd, wegens geen biowinkel hier @Korenmaat'],
      dtype=object)

### Query_03:

Now I'll add `albertheijn` to the last query because sometimes there are expressions like `ahhhhh` and this is not what we are looking for.

`All these words`: picnic, jumbo, ah, albertheijn

**Result:** `https://twitter.com/search?q=picnic%2C%20jumbo%2C%20ah%2C%20albertheijn&src=typed_query`

In [43]:
query_03 = 'q=picnic%2C%20jumbo%2C%20ah%2C%20albertheijn'
result_03 = TweetMiner.search_tweets(max_pages = 20, raw_query = query_03)
len(result_03)

40

In [44]:
result_03[0]

{'mined_at': datetime.datetime(2020, 6, 22, 15, 23, 0, 883355),
 'created_at': 'Thu Jun 18 11:56:42 +0000 2020',
 'tweet_id': 1273585426268409859,
 'tweet_id_str': '1273585426268409859',
 'in_reply_to_screen_name': 'Oli4K',
 'in_reply_to_status_id': 1273584231336288257,
 'in_reply_to_user_id': 6091182,
 'language': 'nl',
 'text': '@Oli4K @picnic @JumboSupermarkt @albertheijn Lijkt er op dat Jumbo &amp; AH erg naar website &amp; elkaar hebben gekeken, terwijl Picnic echt mobile first &amp; vanuit niks is gestart.',
 'hashtags': [],
 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
 'screen_name': 'jelleprins',
 'user_tweet_id': 16546619,
 'user_tweet_id_str': '16546619',
 'user_favourites_count': 4419,
 'followers_count': 10511,
 'friends_count': 1063}

In [45]:
df_query_03 = process_and_save(pd.DataFrame(result_03),"query_03",mine_user_twitter=0)
df_query_03.head()

,mined_at,created_at,year,month,day,day_of_week,hour,minute,tweet_id,tweet_id_str,...,hashtags,source,language,screen_name,user_tweet_id,user_tweet_id_str,user_favourites_count,followers_count,friends_count,text
0,2020-06-22 15:23:02.906515,2020-06-18 11:50:31+00:00,2020,6,18,3,11,50,1273583869753724930,1273583869753724930,...,[],"<a href=""https://mobile.twitter.com"" rel=""nofo...",nl,GHengeveld,20709019,20709019,889,1485,1750,@jelleprins @picnic @JumboSupermarkt @alberthe...
1,2020-06-22 15:23:02.471327,2020-06-18 11:56:42+00:00,2020,6,18,3,11,56,1273585426268409859,1273585426268409859,...,[],"<a href=""http://twitter.com/download/iphone"" r...",nl,jelleprins,16546619,16546619,4419,10511,1063,@Oli4K @picnic @JumboSupermarkt @albertheijn L...

In [46]:
df_query_03.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   mined_at                 2 non-null      datetime64[ns]
 1   created_at               2 non-null      datetime64[ns, UTC]
 2   year                     2 non-null      int64
 3   month                    2 non-null      int64
 4   day                      2 non-null      int64
 5   day_of_week              2 non-null      int64
 6   hour                     2 non-null      int64
 7   minute                   2 non-null      int64
 8   tweet_id                 2 non-null      int64
 9   tweet_id_str             2 non-null      object
 10  in_reply_to_screen_name  2 non-null      object
 11  in_reply_to_status_id    2 non-null      int64
 12  in_reply_to_user_id      2 non-null      int64
 13  hashtags                 2 non-null      object
 14  source                   2 non-null      object
 15  language                 2 non-null      object
 16  screen_name              2 non-null      object
 17  user_tweet_id            2 non-null      int64
 18  user_tweet_id_str        2 non-null      object
 19  user_favourites_count    2 non-null      int64
 20  followers_count          2 non-null      int64
 21  friends_count            2 non-null      int64
 22  text                     2 non-null      object
dtypes: datetime64[ns, UTC](1), datetime64[ns](1), int64(13), object(8)
memory usage: 496.0+ bytes

In [47]:
min(df_query_03['created_at']),max(df_query_03['created_at'])

(Timestamp('2020-06-18 11:50:31+0000', tz='UTC'),
 Timestamp('2020-06-18 11:56:42+0000', tz='UTC'))

### Query_04:

`All these words`: picnic covid

**Result:** `https://twitter.com/search?q=picnic%20covid&src=typed_query`

In [52]:
query_04 = 'q=picnic%20covid'
result_04 = TweetMiner.search_tweets(max_pages = 20, raw_query = query_04)
len(result_04)

300

In [53]:
result_04[0]

{'mined_at': datetime.datetime(2020, 6, 22, 15, 28, 28, 650354),
 'created_at': 'Mon Jun 22 12:20:59 +0000 2020',
 'tweet_id': 1275041091134210049,
 'tweet_id_str': '1275041091134210049',
 'language': 'en',
 'text': 'RT @pune_pulse: #Pune Avoid picnic spots to curb Covid-19 spread: Pune cops - https://t.co/i4LTskL4P4',
 'hashtags': [{'text': 'Pune'}],
 'source': '<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>',
 'screen_name': 'robs25',
 'user_tweet_id': 100519017,
 'user_tweet_id_str': '100519017',
 'followers_count': 103,
 'friends_count': 259}

In [54]:
df_query_04 = process_and_save(pd.DataFrame(result_04),"query_04",mine_user_twitter=0)
df_query_04.head()

,mined_at,created_at,year,month,day,day_of_week,hour,minute,tweet_id,tweet_id_str,...,hashtags,source,language,screen_name,user_tweet_id,user_tweet_id_str,user_favourites_count,followers_count,friends_count,text
0,2020-06-22 15:28:31.546323,2020-06-22 03:27:49+00:00,2020,6,22,0,3,27,1274906915143692288,1274906915143692288,...,"[{'text': 'suspro'}, {'text': 'vegan'}]","<a href=""http://twitter.com/download/iphone"" r...",en,SusproFoods,869774415923261440,869774415923261440,NaN,207,324,Perfect timing for COVID-19 to die down a bit ...
1,2020-06-22 15:28:34.730877,2020-06-22 03:30:50+00:00,2020,6,22,0,3,30,1274907672333221889,1274907672333221889,...,[],"<a href=""https://www.qureet.com"" rel=""nofollow...",en,LohasTopStories,3332182334,3332182334,NaN,8341,1493,RT @SusproFoods: Perfect timing for COVID-19 t...
2,2020-06-22 15:28:32.511010,2020-06-22 04:34:12+00:00,2020,6,22,0,4,34,1274923618498207744,1274923618498207744,...,[],"<a href=""http://twitter.com/download/iphone"" r...",es,ramirez_f23,1584172249,1584172249,NaN,1378,580,Yo cuando no fui a Picnic porque estaba ahorra...
3,2020-06-22 15:28:33.439709,2020-06-22 05:53:41+00:00,2020,6,22,0,5,53,1274943622836744192,1274943622836744192,...,[],"<a href=""http://twitter.com/download/iphone"" r...",en,SerenasSoapbox,15213963,15213963,44052.0,425,781,@carolduncan Yep. The ongoing health problems ...
4,2020-06-22 15:28:34.730877,2020-06-22 06:13:20+00:00,2020,6,22,0,6,13,1274948565530316801,1274948565530316801,...,[],"<a href=""https://mobile.twitter.com"" rel=""nofo...",en,nessiejones22,3647429599,3647429599,NaN,591,785,"During our covid world, would you use a picnic..."

In [55]:
df_query_04.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   mined_at                 15 non-null     datetime64[ns]
 1   created_at               15 non-null     datetime64[ns, UTC]
 2   year                     15 non-null     int64
 3   month                    15 non-null     int64
 4   day                      15 non-null     int64
 5   day_of_week              15 non-null     int64
 6   hour                     15 non-null     int64
 7   minute                   15 non-null     int64
 8   tweet_id                 15 non-null     int64
 9   tweet_id_str             15 non-null     object
 10  in_reply_to_screen_name  2 non-null      object
 11  in_reply_to_status_id    2 non-null      float64
 12  in_reply_to_user_id      2 non-null      float64
 13  hashtags                 15 non-null     object
 14  source                   15 non-null     object
 15  language                 15 non-null     object
 16  screen_name              15 non-null     object
 17  user_tweet_id            15 non-null     int64
 18  user_tweet_id_str        15 non-null     object
 19  user_favourites_count    2 non-null      float64
 20  followers_count          15 non-null     int64
 21  friends_count            15 non-null     int64
 22  text                     15 non-null     object
dtypes: datetime64[ns, UTC](1), datetime64[ns](1), float64(3), int64(10), object(8)
memory usage: 2.8+ KB

In [57]:
df_query_04['text'].values

array(['Perfect timing for COVID-19 to die down a bit as the sun starts to shine. Go out and enjoy but remember to stay socially distance. Various outdoor ideas include picnic, hiking, walking in the park, jogging, or golfing. What are some of your favourite activities? #suspro #vegan https://t.co/N1DbJSFSt4',
       'RT @SusproFoods: Perfect timing for COVID-19 to die down a bit as the sun starts to shine. Go out and enjoy but remember to stay socially d…',
       'Yo cuando no fui a Picnic porque estaba ahorrando para mi viaje y tampoco fui a mi viaje por el Covid: https://t.co/CTFtt3f54J',
       '@carolduncan Yep. The ongoing health problems for those who have ‘recovered’ sound terrible. No thank you. \n\nI got shingles in the ear at 42. Nearly lost my hearing in one ear, damaged my balance. Live with tinnitus. Took 12 months to regain energy. Yet sounds like a picnic compared to covid',
       'During our covid world, would you use a picnic table in a public park?',
       'Business resilience in the time of COVID-19: The story of a picnic company, a magician and a corporate training firm https://t.co/aNzZ3pDuqk',
       'Business resilience in the time of COVID-19: The story of a picnic company, a magician and a corporate training firm https://t.co/6w3qSjdjuq',
       "@Xephelias_Sama Avec le COVID c'est un peu chaud mais promis le picnic quand ce sera plus safe hein",
       '#Pune Avoid picnic spots to curb Covid-19 spread: Pune cops - https://t.co/i4LTskL4P4',
       'RT @pune_pulse: #Pune Avoid picnic spots to curb Covid-19 spread: Pune cops - https://t.co/i4LTskL4P4',
       "Mr Buckeridge's Collective Worship during COVID-19. Join us as we enjoy some food, have a story about a picnic and ask why Jesus likened Himself to Bread! \nhttps://t.co/PplCW3XXil",
       '[COVID-19 News, Skyhigh. Vip]  Inspiring stories of how small business transform their business model into digital, something that never they thought before.  -ITA-\n\n. \n#entrepreneurship  #businessmodel \nhttps://t.co/m6uCCAtzKM',
       "Can't wait for our cute 1,5 meters apart cause of covid picnic 💕",
       'My friends mum passed away from Covid and she has no idea all her childhood friends are descending to the flats we grew up in for a socially distanced picnic to cheer her up. I hate this bastard govt that it has to be this way',
       'RT @pune_pulse: #Pune Avoid picnic spots to curb Covid-19 spread: Pune cops - https://t.co/i4LTskL4P4'],
      dtype=object)

Well it seems that is not really the picnic we are looking for, so let's try `@picnic, covid`

### Query_04B:

`All these words`: @picnic covid

**Result:** `https://twitter.com/search?q=%40picnic%20covid&src=typed_query`

In [59]:
query_04B = 'q=%40picnic%20covid'
result_04B = TweetMiner.search_tweets(max_pages = 20, raw_query = query_04B)
len(result_04B)

0

The webpage shows the most recent result from April so the API didn't catch tweets here. So no results for this query unfortunately.

### Query_05:

`All these words`: JumboSupermarkt covid

**Result:** `https://twitter.com/search?q=JumboSupermarkt%20covid&src=typed_query`

In [60]:
query_05 = 'q=JumboSupermarkt%20covid'
result_05 = TweetMiner.search_tweets(max_pages = 20, raw_query = query_05)
len(result_05)

40

In [61]:
result_05[0]

{'mined_at': datetime.datetime(2020, 6, 22, 15, 39, 17, 660221),
 'created_at': 'Sun Jun 21 09:33:32 +0000 2020',
 'tweet_id': 1274636561704005632,
 'tweet_id_str': '1274636561704005632',
 'in_reply_to_screen_name': 'deAZfan',
 'in_reply_to_status_id': 1274396337396690944,
 'in_reply_to_user_id': 23193959,
 'language': 'nl',
 'text': "@deAZfan De 'Vierde wachtende' regel geldt tijdelijk niet i.v.m. de situatie rondom Covid-19. We blijven uiteraard wel ons uiterste best doen alle klanten zo vlot mogelijk te helpen. 🙂 ^LL",
 'hashtags': [],
 'source': '<a href="https://mobile.twitter.com" rel="nofollow">Twitter Web App</a>',
 'screen_name': 'JumboSupermarkt',
 'user_tweet_id': 2797822974,
 'user_tweet_id_str': '2797822974',
 'user_favourites_count': 3764,
 'followers_count': 16212,
 'friends_count': 1711}

In [62]:
df_query_05 = process_and_save(pd.DataFrame(result_05),"query_05",mine_user_twitter=0)
df_query_05.head()

,mined_at,created_at,year,month,day,day_of_week,hour,minute,tweet_id,tweet_id_str,...,hashtags,source,language,screen_name,user_tweet_id,user_tweet_id_str,user_favourites_count,followers_count,friends_count,text
0,2020-06-22 15:39:19.984488,2020-06-20 17:25:49+00:00,2020,6,20,5,17,25,1274393028183162881,1274393028183162881,...,"[{'text': 'Utrecht'}, {'text': 'merelstraat'},...","<a href=""http://twitter.com/download/android"" ...",nl,milieuzone,3567511941,3567511941,NaN,171,75,Complimenten aan @JumboSupermarkt #Utrecht #me...
1,2020-06-22 15:39:19.507553,2020-06-21 09:33:32+00:00,2020,6,21,6,9,33,1274636561704005632,1274636561704005632,...,[],"<a href=""https://mobile.twitter.com"" rel=""nofo...",nl,JumboSupermarkt,2797822974,2797822974,3764.0,16212,1711,@deAZfan De 'Vierde wachtende' regel geldt tij...

In [63]:
df_query_05.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   mined_at                 2 non-null      datetime64[ns]
 1   created_at               2 non-null      datetime64[ns, UTC]
 2   year                     2 non-null      int64
 3   month                    2 non-null      int64
 4   day                      2 non-null      int64
 5   day_of_week              2 non-null      int64
 6   hour                     2 non-null      int64
 7   minute                   2 non-null      int64
 8   tweet_id                 2 non-null      int64
 9   tweet_id_str             2 non-null      object
 10  in_reply_to_screen_name  1 non-null      object
 11  in_reply_to_status_id    1 non-null      float64
 12  in_reply_to_user_id      1 non-null      float64
 13  hashtags                 2 non-null      object
 14  source                   2 non-null      object
 15  language                 2 non-null      object
 16  screen_name              2 non-null      object
 17  user_tweet_id            2 non-null      int64
 18  user_tweet_id_str        2 non-null      object
 19  user_favourites_count    1 non-null      float64
 20  followers_count          2 non-null      int64
 21  friends_count            2 non-null      int64
 22  text                     2 non-null      object
dtypes: datetime64[ns, UTC](1), datetime64[ns](1), float64(3), int64(10), object(8)
memory usage: 496.0+ bytes

### Query_06:

`All these words`: albertheijn covid ah

**Result:** `https://twitter.com/search?q=albertheijn%20covid&src=typed_query`

In [64]:
query_06 = 'q=albertheijn%20covid'
result_06 = TweetMiner.search_tweets(max_pages = 20, raw_query = query_06)
len(result_06)

140

In [65]:
result_06[0]

{'mined_at': datetime.datetime(2020, 6, 22, 15, 40, 19, 348835),
 'created_at': 'Mon Jun 22 10:17:30 +0000 2020',
 'tweet_id': 1275010013401165825,
 'tweet_id_str': '1275010013401165825',
 'language': 'en',
 'text': 'Do Masks Really Protect Against Covid? https://t.co/y0LHaB0UpO\nvia @YouTube \n\n@ContainmentNU @RIVM @MarkRutte @CSSD_GovNL @albertheijn @jumbonl @ExpaticaNL @DutchNewsNL @dutchdailynews',
 'hashtags': [],
 'source': '<a href="https://mobile.twitter.com" rel="nofollow">Twitter Web App</a>',
 'screen_name': 'Roxann_Minerals',
 'user_tweet_id': 726089858607894529,
 'user_tweet_id_str': '726089858607894529',
 'followers_count': 1818,
 'friends_count': 4999}

In [66]:
df_query_06 = process_and_save(pd.DataFrame(result_06),"query_06",mine_user_twitter=0)
df_query_06.head()

,mined_at,created_at,year,month,day,day_of_week,hour,minute,tweet_id,tweet_id_str,...,hashtags,source,language,screen_name,user_tweet_id,user_tweet_id_str,user_favourites_count,followers_count,friends_count,text
0,2020-06-22 15:40:21.915583,2020-06-14 18:37:37+00:00,2020,6,14,6,18,37,1272236769145208833,1272236769145208833,...,[],"<a href=""https://mobile.twitter.com"" rel=""nofo...",en,vai3333,207973622,207973622,NaN,7182,5301,RT @AnimalStill: There comes a moment you find...
1,2020-06-22 15:40:21.646966,2020-06-18 09:59:31+00:00,2020,6,18,3,9,59,1273555936356061186,1273555936356061186,...,[{'text': 'Covid_19'}],"<a href=""https://mobile.twitter.com"" rel=""nofo...",nl,ChristienJanson,40452837,40452837,NaN,592,1100,"Goh @albertheijn Almere Lavendelplantsoen, gee..."
2,2020-06-22 15:40:21.646966,2020-06-18 17:10:57+00:00,2020,6,18,3,17,10,1273664510591733762,1273664510591733762,...,"[{'text': 'Retail'}, {'text': 'Innovatie'}, {'...","<a href=""http://www.linkedin.com/"" rel=""nofoll...",und,buisman_pro,756432448561487872,756432448561487872,NaN,165,1321,#Retail #Innovatie #Covid_19 😷 #AlbertHeijn #C...
3,2020-06-22 15:40:19.348835,2020-06-19 20:43:35+00:00,2020,6,19,4,20,43,1274080408028753920,1274080408028753920,...,"[{'text': 'WillemAlexander'}, {'text': 'veroni...","<a href=""http://twitter.com/download/iphone"" r...",nl,wendersinke,381493231,381493231,NaN,606,519,"Iedereen heeft wel iets te zeggen, maar soms n..."
4,2020-06-22 15:40:20.110558,2020-06-20 06:14:39+00:00,2020,6,20,5,6,14,1274224124836089857,1274224124836089857,...,[{'text': 'Jumbo'}],"<a href=""https://mobile.twitter.com"" rel=""nofo...",en,JeannetteWezen1,1235877748163383296,1235877748163383296,7290.0,180,165,@marutza_mh @albertheijn #Jumbo is selling bre...

In [67]:
df_query_06.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   mined_at                 7 non-null      datetime64[ns]
 1   created_at               7 non-null      datetime64[ns, UTC]
 2   year                     7 non-null      int64
 3   month                    7 non-null      int64
 4   day                      7 non-null      int64
 5   day_of_week              7 non-null      int64
 6   hour                     7 non-null      int64
 7   minute                   7 non-null      int64
 8   tweet_id                 7 non-null      int64
 9   tweet_id_str             7 non-null      object
 10  in_reply_to_screen_name  1 non-null      object
 11  in_reply_to_status_id    1 non-null      float64
 12  in_reply_to_user_id      1 non-null      float64
 13  hashtags                 7 non-null      object
 14  source                   7 non-null      object
 15  language                 7 non-null      object
 16  screen_name              7 non-null      object
 17  user_tweet_id            7 non-null      int64
 18  user_tweet_id_str        7 non-null      object
 19  user_favourites_count    1 non-null      float64
 20  followers_count          7 non-null      int64
 21  friends_count            7 non-null      int64
 22  text                     7 non-null      object
dtypes: datetime64[ns, UTC](1), datetime64[ns](1), float64(3), int64(10), object(8)
memory usage: 1.4+ KB

# Conclusions

* When retrieving data from Twitter timelines of @picnic, @JumboSupermarkten, and @albertijn we succeeded in going back respectively to data from 7th December 2018, 7th March, and 6th April 2020. Therefore, we will not be able to cover all COVID-19 period from the beginning (27th February 2020) for all 3 (online) supermarkets. In terms, of comparison we probably need to consider the constraints and consider the period covered by AH.

* Making search using queries via API query is trick and limited. For instances, picnic can be seen as *`an occasion when you have an informal meal of sandwiches, etc. outside, or the food itself`*[[definition Cambridge dictionary](https://dictionary.cambridge.org/dictionary/english/picnic)] which is not exactly what we want to analyze here. The other problem is that we can only reach the past 7 days from the day we apply the query. So, if we want to have enough data to analyze we need to apply the query for some weeks.

Following, we will go deeper in the data collect here and perform some EDA and sentiment analysis. Next challenge: Sentiment analysis in Dutch since the great majority of the tweets are in Dutch as expected.