# Load Packages

In [122]:
import glob
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Trying to add more days to Jumbo and AH

As seem in the previous notebook for Jumbo and AH we retrieved data back to 7th March 2020 and 6th April 2020. Since I've testing and modifying the code few days before the last version I'll check all the data I've retrieved since then and see if I can add some more days to the data.

In [36]:
def search_file_in_folder(folder,str_file, type_file='csv'):
    """ Given a folder and a part of name of file provides a list of files"""
    
    list_files_paths = []
    for file_path in glob.glob(folder+'*'+str_file+'*.'+type_file):
        try:
#             print(file_path.split('\\')[-1])
            list_files_paths.append(file_path)
        except:
            pass
    
    if len(list_files_paths):
        return list_files_paths
    else:
        return 'No files containing {}'.format(str_file)

In [79]:
def create_dataframe_info(result):
    """ Create a dataframe with tweet data .csv file path, min and max create_at date and number of tweets """
    
    filepath_list = []
    min_created_list = []
    max_created_list = []
    n_tweet_list = []
    n_columns = []
    
    for file in result:
        df = pd.read_csv(file)
        filepath_list.append(file)
        min_created_list.append(min(df['created_at']))
        max_created_list.append(max(df['created_at']))
        n_tweet_list.append(df.shape[0])
        n_columns.append(df.shape[1])
        
    dict_df = {'file_path':filepath_list,
              'min_created_list':min_created_list,
              'max_created_list':max_created_list,
              'n_tweet_list':n_tweet_list,
              'n_columns':n_columns}
    
    df_new = pd.DataFrame(dict_df)
                
    return df_new

In [80]:
folder = "../data/tweets/"
result = search_file_in_folder(folder, 'JumboSupermarkt')
result

['../data/tweets\\JumboSupermarkt_2020-06-16-21-20.csv',
 '../data/tweets\\JumboSupermarkt_2020-06-16-21-21.csv',
 '../data/tweets\\JumboSupermarkt_2020-06-16-21-23.csv',
 '../data/tweets\\JumboSupermarkt_2020-06-16-21-35.csv',
 '../data/tweets\\JumboSupermarkt_2020-06-16-21-56.csv',
 '../data/tweets\\JumboSupermarkt_2020-06-21-00-31.csv',
 '../data/tweets\\JumboSupermarkt_2020-06-21-00-33.csv',
 '../data/tweets\\JumboSupermarkt_2020-06-21-00-34.csv',
 '../data/tweets\\JumboSupermarkt_2020-06-21-13-17.csv',
 '../data/tweets\\JumboSupermarkt_2020-06-21-13-18.csv',
 '../data/tweets\\JumboSupermarkt_2020-06-22-14-59.csv',
 '../data/tweets\\JumboSupermarkt_2020-06-22-15-01.csv']

In [81]:
create_dataframe_info(result).sort_values(by=['min_created_list','n_tweet_list'])

,file_path,min_created_list,max_created_list,n_tweet_list,n_columns
1,../data/tweets\JumboSupermarkt_2020-06-16-21-2...,2020-03-03 17:46:39+00:00,2020-06-16 18:29:48+00:00,3235,14
2,../data/tweets\JumboSupermarkt_2020-06-16-21-2...,2020-03-03 17:46:39+00:00,2020-06-16 18:29:48+00:00,3235,14
3,../data/tweets\JumboSupermarkt_2020-06-16-21-3...,2020-03-03 17:46:39+00:00,2020-06-16 18:29:48+00:00,3235,14
4,../data/tweets\JumboSupermarkt_2020-06-16-21-5...,2020-03-04 14:45:25+00:00,2020-06-16 18:29:48+00:00,3217,14
5,../data/tweets\JumboSupermarkt_2020-06-21-00-3...,2020-03-06 19:12:05+00:00,2020-06-20 19:51:11+00:00,3221,19
7,../data/tweets\JumboSupermarkt_2020-06-21-00-3...,2020-03-06 19:12:05+00:00,2020-06-20 19:51:11+00:00,3221,19
8,../data/tweets\JumboSupermarkt_2020-06-21-13-1...,2020-03-06 19:12:05+00:00,2020-06-21 09:33:32+00:00,3230,19
6,../data/tweets\JumboSupermarkt_2020-06-21-00-3...,2020-03-07 20:15:43+00:00,2020-06-20 19:51:11+00:00,3203,19
9,../data/tweets\JumboSupermarkt_2020-06-21-13-1...,2020-03-07 20:15:43+00:00,2020-06-21 09:33:32+00:00,3212,19
10,../data/tweets\JumboSupermarkt_2020-06-22-14-5...,2020-03-07 20:15:43+00:00,2020-06-22 11:03:38+00:00,3232,19
11,../data/tweets\JumboSupermarkt_2020-06-22-15-0...,2020-03-07 20:15:43+00:00,2020-06-22 11:03:38+00:00,3232,19
0,../data/tweets\JumboSupermarkt_2020-06-16-21-2...,2020-04-03 07:13:25+00:00,2020-06-16 18:29:48+00:00,1997,14

If I concatenate the most recent file with any of the 3 first files displayed in the dataframe I can go back until 3rd March. One tradeoff is that we have 5 columns more in the last version than in the old one. Let's see what we can do about AH.

In [83]:
folder = "../data/tweets/"
result = search_file_in_folder(folder, 'albertheijn')
result

['../data/tweets\\albertheijn_2020-06-16-21-58.csv',
 '../data/tweets\\albertheijn_2020-06-16-22-00.csv',
 '../data/tweets\\albertheijn_2020-06-16-22-18.csv',
 '../data/tweets\\albertheijn_2020-06-21-00-49.csv',
 '../data/tweets\\albertheijn_2020-06-21-00-53.csv',
 '../data/tweets\\albertheijn_2020-06-21-14-42.csv',
 '../data/tweets\\albertheijn_2020-06-21-14-43.csv',
 '../data/tweets\\albertheijn_2020-06-21-14-44.csv',
 '../data/tweets\\albertheijn_2020-06-21-14-45.csv',
 '../data/tweets\\albertheijn_2020-06-22-15-02.csv',
 '../data/tweets\\albertheijn_2020-06-22-15-03.csv']

In [85]:
df_info_AH = create_dataframe_info(result).sort_values(by=['min_created_list','n_tweet_list'])
df_info_AH

,file_path,min_created_list,max_created_list,n_tweet_list,n_columns
0,../data/tweets\albertheijn_2020-06-16-21-58.csv,2020-03-30 08:04:02+00:00,2020-06-16 16:36:50+00:00,3243,14
1,../data/tweets\albertheijn_2020-06-16-22-00.csv,2020-03-30 08:04:02+00:00,2020-06-16 16:36:50+00:00,3243,14
2,../data/tweets\albertheijn_2020-06-16-22-18.csv,2020-03-30 08:04:02+00:00,2020-06-16 16:36:50+00:00,3243,14
3,../data/tweets\albertheijn_2020-06-21-00-49.csv,2020-04-03 15:35:47+00:00,2020-06-20 18:18:50+00:00,3204,19
4,../data/tweets\albertheijn_2020-06-21-00-53.csv,2020-04-03 15:35:47+00:00,2020-06-20 18:18:50+00:00,3204,19
6,../data/tweets\albertheijn_2020-06-21-14-43.csv,2020-04-03 15:35:47+00:00,2020-06-21 12:27:32+00:00,3218,19
7,../data/tweets\albertheijn_2020-06-21-14-44.csv,2020-04-03 15:35:47+00:00,2020-06-21 12:27:32+00:00,3218,19
8,../data/tweets\albertheijn_2020-06-21-14-45.csv,2020-04-03 15:35:47+00:00,2020-06-21 12:45:16+00:00,3219,19
9,../data/tweets\albertheijn_2020-06-22-15-02.csv,2020-04-06 16:33:02+00:00,2020-06-22 11:43:16+00:00,3217,19
10,../data/tweets\albertheijn_2020-06-22-15-03.csv,2020-04-06 16:33:02+00:00,2020-06-22 11:43:16+00:00,3217,19
5,../data/tweets\albertheijn_2020-06-21-14-42.csv,2020-04-10 09:40:25+00:00,2020-06-21 12:27:32+00:00,3000,19

Adding one of the 3 first files we can go back to 30th March.

So let's check the columns we need to drop and concatenate the newer and older csv to increase our range from 30th March 2020 until 22nd June 2020.

In [88]:
df_info_AH.loc[0,'file_path']

'../data/tweets\\albertheijn_2020-06-16-21-58.csv'

In [112]:
df_AH_2020_06_16 = pd.read_csv(df_info_AH.loc[0,'file_path'])
# before checking for difference in the columns between old and new data I'll rename handle to screen_name since both are the same
df_AH_2020_06_16.rename(columns={'handle':'screen_name'},inplace=True)
df_AH_2020_06_16.head()

,mined_at,screen_name,tweet_id,tweet_id_str,created_at,year,month,day,day_of_week,hour,minute,retweet_count,source,text
0,2020-06-16 21:58:04.280117,albertheijn,1244535843135672326,1244535843135672326,2020-03-30 08:04:02+00:00,2020,3,30,0,8,4,0,"<a href=""https://www.tracebuzz.com"" rel=""nofol...","@derots Voorraad is er genoeg, het is voor ons..."
1,2020-06-16 21:58:04.280117,albertheijn,1244538454890987523,1244538454890987523,2020-03-30 08:14:24+00:00,2020,3,30,0,8,14,0,"<a href=""https://www.tracebuzz.com"" rel=""nofol...",@MoniquevDBurgh We doen er alles aan om zoveel...
2,2020-06-16 21:58:04.280117,albertheijn,1244540668225126401,1244540668225126401,2020-03-30 08:23:12+00:00,2020,3,30,0,8,23,0,"<a href=""https://www.tracebuzz.com"" rel=""nofol...",@AnnekeVisser15 Klopt! De Persoonlijke Bonus w...
3,2020-06-16 21:58:04.012317,albertheijn,1244541424588251141,1244541424588251141,2020-03-30 08:26:12+00:00,2020,3,30,0,8,26,0,"<a href=""https://www.tracebuzz.com"" rel=""nofol...",@waltervantiel We kopen groenten en fruit z...
4,2020-06-16 21:58:04.012317,albertheijn,1244542564344238083,1244542564344238083,2020-03-30 08:30:44+00:00,2020,3,30,0,8,30,0,"<a href=""https://www.tracebuzz.com"" rel=""nofol...",@bbstring Je kunt ons het beste een privéberic...

In [113]:
df_AH_2020_06_22 = pd.read_csv(df_info_AH.loc[10,'file_path'])
df_AH_2020_06_22.head()

,mined_at,created_at,year,month,day,day_of_week,hour,minute,screen_name,tweet_id,tweet_id_str,retweet_count,favorite_count,source,language,user_favourites_count,followers_count,friends_count,text
0,2020-06-22 15:03:36.106324,2020-04-06 16:33:02+00:00,2020,4,6,0,16,33,albertheijn,1247200655002959875,1247200655002959875,0,NaN,"<a href=""https://www.tracebuzz.com"" rel=""nofol...",nl,580,45532,6,@babbelaar4life Ik geef het door! Jij bedankt ...
1,2020-06-22 15:03:36.106324,2020-04-06 16:41:10+00:00,2020,4,6,0,16,41,albertheijn,1247202701689212931,1247202701689212931,0,NaN,"<a href=""https://www.tracebuzz.com"" rel=""nofol...",fi,580,45532,6,@myrna_1995 Graag gedaan 😊 ^Stéphanie
2,2020-06-22 15:03:36.106324,2020-04-06 16:50:17+00:00,2020,4,6,0,16,50,albertheijn,1247204994442563584,1247204994442563584,0,NaN,"<a href=""https://www.tracebuzz.com"" rel=""nofol...",nl,580,45532,6,@rliessum Hoi! We willen de beschikbare produc...
3,2020-06-22 15:03:36.106324,2020-04-06 16:59:09+00:00,2020,4,6,0,16,59,albertheijn,1247207225204105221,1247207225204105221,0,NaN,"<a href=""https://www.tracebuzz.com"" rel=""nofol...",nl,580,45532,6,@peter_vinke Hi Peter! Bedankt voor jouw opmer...
4,2020-06-22 15:03:36.106324,2020-04-06 16:59:39+00:00,2020,4,6,0,16,59,albertheijn,1247207352492834819,1247207352492834819,0,NaN,"<a href=""https://www.tracebuzz.com"" rel=""nofol...",nl,580,45532,6,@Lupardi Jij bent er als de kippen bij! Het ka...

In [117]:
common_columns = list(set(df_AH_2020_06_16.columns).intersection(set(df_AH_2020_06_22.columns)))
common_columns.sort()
common_columns

['created_at',
 'day',
 'day_of_week',
 'hour',
 'mined_at',
 'minute',
 'month',
 'retweet_count',
 'screen_name',
 'source',
 'text',
 'tweet_id',
 'tweet_id_str',
 'year']

In [119]:
# this agrees with what we expected
len(common_columns)

14

The columns we will miss by concatenation the older and newer columns are:

In [121]:
list(set(df_AH_2020_06_22.columns).difference(set(df_AH_2020_06_16.columns)))

['followers_count',
 'language',
 'user_favourites_count',
 'friends_count',
 'favorite_count']

Since I'd like to explore this data as well as use to compare all 3 (online) supermarkets.

`language` we need to deal with it because it will be important for the sentiment analysis. For now, I'll add this to the older data with NaN and then I'll try to label it.

In [123]:
# Adding 'language' column to df_AH_2020_06_16

df_AH_2020_06_16['language'] = np.nan

In [125]:
df_AH_2020_06_16.head()

,mined_at,screen_name,tweet_id,tweet_id_str,created_at,year,month,day,day_of_week,hour,minute,retweet_count,source,text,language
0,2020-06-16 21:58:04.280117,albertheijn,1244535843135672326,1244535843135672326,2020-03-30 08:04:02+00:00,2020,3,30,0,8,4,0,"<a href=""https://www.tracebuzz.com"" rel=""nofol...","@derots Voorraad is er genoeg, het is voor ons...",NaN
1,2020-06-16 21:58:04.280117,albertheijn,1244538454890987523,1244538454890987523,2020-03-30 08:14:24+00:00,2020,3,30,0,8,14,0,"<a href=""https://www.tracebuzz.com"" rel=""nofol...",@MoniquevDBurgh We doen er alles aan om zoveel...,NaN
2,2020-06-16 21:58:04.280117,albertheijn,1244540668225126401,1244540668225126401,2020-03-30 08:23:12+00:00,2020,3,30,0,8,23,0,"<a href=""https://www.tracebuzz.com"" rel=""nofol...",@AnnekeVisser15 Klopt! De Persoonlijke Bonus w...,NaN
3,2020-06-16 21:58:04.012317,albertheijn,1244541424588251141,1244541424588251141,2020-03-30 08:26:12+00:00,2020,3,30,0,8,26,0,"<a href=""https://www.tracebuzz.com"" rel=""nofol...",@waltervantiel We kopen groenten en fruit z...,NaN
4,2020-06-16 21:58:04.012317,albertheijn,1244542564344238083,1244542564344238083,2020-03-30 08:30:44+00:00,2020,3,30,0,8,30,0,"<a href=""https://www.tracebuzz.com"" rel=""nofol...",@bbstring Je kunt ons het beste een privéberic...,NaN

In [126]:
# update common_columns

common_columns = list(set(df_AH_2020_06_16.columns).intersection(set(df_AH_2020_06_22.columns)))
common_columns.sort()
common_columns

['created_at',
 'day',
 'day_of_week',
 'hour',
 'language',
 'mined_at',
 'minute',
 'month',
 'retweet_count',
 'screen_name',
 'source',
 'text',
 'tweet_id',
 'tweet_id_str',
 'year']

In [128]:
len(common_columns)

15

In [127]:
list(set(df_AH_2020_06_22.columns).difference(set(df_AH_2020_06_16.columns)))

['friends_count', 'followers_count', 'favorite_count', 'user_favourites_count']

Now we have 15 columns and we can verify that language is also present in the older data dataframe. Let's concatenate both dataframes and try to deal with the `language` problem.

In [ ]:
# concatenate dataframes
df_AH_concat = pd.concat([df_AH_2020_06_16,df_AH_2020_06_22])

# eliminate duplicates based on create_at and text, keep will be setted to 'last' since we know that in the older 
# data language will be nan and it is better to keep data that is not nan

df = df.loc[df.astype(str).drop_duplicates(subset=['created_at','tweet_id','text']).index]

# 
df.sort_values(by='created_at',inplace = True)

    df.reset_index(drop = True, inplace = True)

# Load data

## Data user timeline : @picnic, @JumboSupermarkt, @albertijn

# EDA

In [ ]:
# concatenate all dataframes

df_tweet_conc = pd.concat([df_picnic,df_JumboSupermarkt, df_albertheijn])
df_tweet_conc.head()

In [ ]:
df_tweet_conc.shape[0] == df_picnic.shape[0]+df_JumboSupermarkt.shape[0]+df_albertheijn.shape[0]

## Number of followers and friends

## Languages of messages

# Analysing Queries

## Load query data